In [1]:
import pandas as pd
from collections import Counter

In [2]:
rep_df = pd.read_csv('./output/all_rep_data.csv')
rep_df

,Dist Code,Rep First,Rep Last,Stop Id,Impacted T,Proportion,REP,Rep Dist,Rep Party,Route Ids,...,Tract Id,URL,Geometry,Geometry (HOUSE2012 POLY.shp),Impacted P,Income,Income Lev,Repdistnum,Shape Area,Shape Len
0,ESS09,Donald H.,Wong,7525.0,"208300,208400,208200","0.09,0.02,0.35",Donald H. Wong (R),9th Essex,(R),"429,430",...,208200.0,http://malegislature.gov/Legislators/Profile/DHW1,Point,Polygon,155.0,72990.0,2.0,33.0,4.103007e+07,47337.792022
1,NOR15,Tommy,Vitolo,1304.0,"400800,400400,400300,400500,400200,000703,0007...","0.11,0.73,1.00,0.19,0.63,0.95,0.73,0.02,0.30",Tommy Vitolo (D),15th Norfolk,(D),66,...,400300.0,http://malegislature.gov/Legislators/Profile/T_V1,Point,Polygon,7596.0,81528.0,2.0,111.0,5.526977e+06,18475.273738
2,SUFF10,Edward F.,Coppinger,61839.0,"130100,374000,373900","0.31,0.01,0.14",Edward F. Coppinger (D),10th Suffolk,(D),37,...,130100.0,http://malegislature.gov/Legislators/Profile/E_C1,Point,Polygon,285.0,122019.0,2.0,133.0,2.322508e+07,30760.399420
3,ESS11,Peter L.,Capano,6821.0,"207200,207100,207000,206100,206000,205900,2058...","0.17,0.90,0.35,0.64,1.00,0.29,0.34,0.05",Peter L. Capano (D),11th Essex,(D),"455,456,442,426,459,000",...,207000.0,http://malegislature.gov/Legislators/Profile/PLC1,Point,MultiPolygon,1821.0,45616.0,2.0,35.0,1.632272e+07,48737.154177
4,NOR15,Tommy,Vitolo,1375.0,"400800,400400,400300,400500,400200,000703,0007...","0.09,0.73,1.00,0.18,0.61,0.96,0.77,0.03,0.34",Tommy Vitolo (D),15th Norfolk,(D),66,...,400300.0,http://malegislature.gov/Legislators/Profile/T_V1,Point,Polygon,7704.0,80919.0,2.0,111.0,5.526977e+06,18475.273738
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7910,WORC18,Joseph D.,McKenna,NaN,NaN,NaN,Joseph D. McKenna (R),18th Worcester,(R),NaN,...,NaN,http://malegislature.gov/Legislators/Profile/JDM1,NaN,Polygon,NaN,NaN,NaN,160.0,2.529885e+08,87122.316230
7911,PLYM12,Kathleen P.,LaNatra,NaN,NaN,NaN,Kathleen P. LaNatra (D),12th Plymouth,(D),NaN,...,NaN,http://malegislature.gov/Legislators/Profile/KPL1,NaN,MultiPolygon,NaN,NaN,NaN,123.0,2.109878e+08,122876.737976
7912,BRIST12,Norman J.,Orrall,NaN,NaN,NaN,Norman J. Orrall (R),12th Bristol,(R),NaN,...,NaN,http://malegislature.gov/Legislators/Profile/NJO1,NaN,Polygon,NaN,NaN,NaN,22.0,2.170317e+08,120696.616783
7913,ESS02,Leonard,Mirra,NaN,NaN,NaN,Leonard Mirra (R),2nd Essex,(R),NaN,...,NaN,http://malegislature.gov/Legislators/Profile/L_M1,NaN,MultiPolygon,NaN,NaN,NaN,26.0,2.410055e+08,137341.402345
7914,WORC16,Daniel M.,Donahue,NaN,NaN,NaN,Daniel M. Donahue (D),16th Worcester,(D),NaN,...,NaN,http://malegislature.gov/Legislators/Profile/DMD1,NaN,Polygon,NaN,NaN,NaN,158.0,1.927190e+07,22236.335828

In [5]:
rep_df.rename(columns = {'Income Lev':'income_level', 'Tract Id':'tract_id', 'Stop Id':'stop_id','Dist Code':'dist_code','Route Ids':'route_ids','Rep Dist':'rep_dist'}, inplace = True)
rep_df

,dist_code,Rep First,Rep Last,stop_id,Impacted T,Proportion,REP,rep_dist,Rep Party,route_ids,...,tract_id,URL,Geometry,Geometry (HOUSE2012 POLY.shp),Impacted P,Income,income_level,Repdistnum,Shape Area,Shape Len
0,ESS09,Donald H.,Wong,7525.0,"208300,208400,208200","0.09,0.02,0.35",Donald H. Wong (R),9th Essex,(R),"429,430",...,208200.0,http://malegislature.gov/Legislators/Profile/DHW1,Point,Polygon,155.0,72990.0,2.0,33.0,4.103007e+07,47337.792022
1,NOR15,Tommy,Vitolo,1304.0,"400800,400400,400300,400500,400200,000703,0007...","0.11,0.73,1.00,0.19,0.63,0.95,0.73,0.02,0.30",Tommy Vitolo (D),15th Norfolk,(D),66,...,400300.0,http://malegislature.gov/Legislators/Profile/T_V1,Point,Polygon,7596.0,81528.0,2.0,111.0,5.526977e+06,18475.273738
2,SUFF10,Edward F.,Coppinger,61839.0,"130100,374000,373900","0.31,0.01,0.14",Edward F. Coppinger (D),10th Suffolk,(D),37,...,130100.0,http://malegislature.gov/Legislators/Profile/E_C1,Point,Polygon,285.0,122019.0,2.0,133.0,2.322508e+07,30760.399420
3,ESS11,Peter L.,Capano,6821.0,"207200,207100,207000,206100,206000,205900,2058...","0.17,0.90,0.35,0.64,1.00,0.29,0.34,0.05",Peter L. Capano (D),11th Essex,(D),"455,456,442,426,459,000",...,207000.0,http://malegislature.gov/Legislators/Profile/PLC1,Point,MultiPolygon,1821.0,45616.0,2.0,35.0,1.632272e+07,48737.154177
4,NOR15,Tommy,Vitolo,1375.0,"400800,400400,400300,400500,400200,000703,0007...","0.09,0.73,1.00,0.18,0.61,0.96,0.77,0.03,0.34",Tommy Vitolo (D),15th Norfolk,(D),66,...,400300.0,http://malegislature.gov/Legislators/Profile/T_V1,Point,Polygon,7704.0,80919.0,2.0,111.0,5.526977e+06,18475.273738
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7910,WORC18,Joseph D.,McKenna,NaN,NaN,NaN,Joseph D. McKenna (R),18th Worcester,(R),NaN,...,NaN,http://malegislature.gov/Legislators/Profile/JDM1,NaN,Polygon,NaN,NaN,NaN,160.0,2.529885e+08,87122.316230
7911,PLYM12,Kathleen P.,LaNatra,NaN,NaN,NaN,Kathleen P. LaNatra (D),12th Plymouth,(D),NaN,...,NaN,http://malegislature.gov/Legislators/Profile/KPL1,NaN,MultiPolygon,NaN,NaN,NaN,123.0,2.109878e+08,122876.737976
7912,BRIST12,Norman J.,Orrall,NaN,NaN,NaN,Norman J. Orrall (R),12th Bristol,(R),NaN,...,NaN,http://malegislature.gov/Legislators/Profile/NJO1,NaN,Polygon,NaN,NaN,NaN,22.0,2.170317e+08,120696.616783
7913,ESS02,Leonard,Mirra,NaN,NaN,NaN,Leonard Mirra (R),2nd Essex,(R),NaN,...,NaN,http://malegislature.gov/Legislators/Profile/L_M1,NaN,MultiPolygon,NaN,NaN,NaN,26.0,2.410055e+08,137341.402345
7914,WORC16,Daniel M.,Donahue,NaN,NaN,NaN,Daniel M. Donahue (D),16th Worcester,(D),NaN,...,NaN,http://malegislature.gov/Legislators/Profile/DMD1,NaN,Polygon,NaN,NaN,NaN,158.0,1.927190e+07,22236.335828

In [6]:
level_0 = rep_df[rep_df['income_level'] == 0] 
level_0

,dist_code,Rep First,Rep Last,stop_id,Impacted T,Proportion,REP,rep_dist,Rep Party,route_ids,...,tract_id,URL,Geometry,Geometry (HOUSE2012 POLY.shp),Impacted P,Income,income_level,Repdistnum,Shape Area,Shape Len
159,SUFF06,Russell E.,Holmes,417.0,"980300,100100,092400,092300,091900,090100,082100","0.35,0.33,0.97,0.05,0.12,0.67,0.00",Russell E. Holmes (D),6th Suffolk,(D),"28,22,45,29",...,92400.0,http://malegislature.gov/Legislators/Profile/REH1,Point,Polygon,2385.0,28586.0,0.0,129.0,7.922006e+06,22391.247389
196,SUFF11,Elizabeth A.,Malia,10417.0,"980300,100100,092400,092300,091900,090100,082100","0.38,0.27,0.95,0.04,0.13,0.72,0.00",Elizabeth A. Malia (D),11th Suffolk,(D),14,...,980300.0,http://malegislature.gov/Legislators/Profile/EAM1,Point,Polygon,2338.0,28277.0,0.0,134.0,9.548119e+06,22506.533127
245,SUFF07,Chynah,Tyler,1592.0,"010405,010404,010300,981800,080900,080801,0806...","0.79,0.46,0.15,0.00,0.00,0.74,1.00,0.96,0.57,0...",Chynah Tyler (D),7th Suffolk,(D),47,...,80601.0,http://malegislature.gov/Legislators/Profile/C_T1,Point,Polygon,6789.0,26316.0,0.0,130.0,4.570023e+06,18791.172558
270,SUFF07,Chynah,Tyler,1226.0,"010405,010404,010300,981800,080900,080801,0806...","0.81,0.50,0.17,0.00,0.00,0.75,1.00,0.96,0.55,0...",Chynah Tyler (D),7th Suffolk,(D),"9,43,19,8,47",...,80601.0,http://malegislature.gov/Legislators/Profile/C_T1,Point,Polygon,6939.0,26430.0,0.0,130.0,4.570023e+06,18791.172558
340,SUFF07,Chynah,Tyler,1227.0,"010405,010404,010500,010300,981800,080801,0806...","0.87,0.78,0.00,0.11,0.01,0.50,0.97,1.00,0.68,0...",Chynah Tyler (D),7th Suffolk,(D),43,...,80500.0,http://malegislature.gov/Legislators/Profile/C_T1,Point,Polygon,7926.0,30613.0,0.0,130.0,4.570023e+06,18791.172558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7703,SUFF11,Elizabeth A.,Malia,10418.0,"980300,100100,092400,981100","0.41,0.45,0.65,0.11",Elizabeth A. Malia (D),11th Suffolk,(D),14,...,980300.0,http://malegislature.gov/Legislators/Profile/EAM1,Point,Polygon,1373.0,23925.0,0.0,134.0,9.548119e+06,22506.533127
7713,SUFF06,Russell E.,Holmes,545.0,"980300,101101,100100,092400,981100","0.24,0.07,0.44,0.26,0.32",Russell E. Holmes (D),6th Suffolk,(D),"31,21",...,980300.0,http://malegislature.gov/Legislators/Profile/REH1,Point,Polygon,914.0,29229.0,0.0,129.0,7.922006e+06,22391.247389
7716,SUFF06,Russell E.,Holmes,10427.0,"980300,101101,100100,092400,981100","0.25,0.07,0.56,0.36,0.25",Russell E. Holmes (D),6th Suffolk,(D),14,...,980300.0,http://malegislature.gov/Legislators/Profile/REH1,Point,Polygon,1180.0,28569.0,0.0,129.0,7.922006e+06,22391.247389
7726,SUFF06,Russell E.,Holmes,76500.0,"980300,101101,100100,092400,981100","0.26,0.06,0.57,0.38,0.23",Russell E. Holmes (D),6th Suffolk,(D),14,...,100100.0,http://malegislature.gov/Legislators/Profile/REH1,Point,Polygon,1210.0,28066.0,0.0,129.0,7.922006e+06,22391.247389
7743,SUFF06,Russell E.,Holmes,1736.0,"980300,100100,092400,092300,981100,090100","0.22,0.82,0.99,0.01,0.02,0.13",Russell E. Holmes (D),6th Suffolk,(D),"28,29",...,100100.0,http://malegislature.gov/Legislators/Profile/REH1,Point,Polygon,2364.0,28020.0,0.0,129.0,7.922006e+06,22391.247389

In [8]:
# returns a list of tract_ids, including repeats, for the given dataframe
def get_districts(dataframe): 
    all_districts = []
    for row in dataframe.itertuples():
        all_districts.append(row.rep_dist)
    return all_districts

# creates a dataframe containing each value of interest in the dataframe and the number of times it appears
def get_counts(full_list):
    occurences = Counter(full_list)
    occurences_df = pd.DataFrame.from_dict(occurences, orient='index').reset_index()
    return occurences_df

In [9]:
level_0_dists = get_districts(level_0)
level_0_dists

['6th Suffolk',
 '11th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '1st Suffolk',
 '1st Suffolk',
 '1st Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '6th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '6th Suffolk',
 '11th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '13th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '16th Suffolk',
 '16th Suffolk',
 '4th Suffolk',
 '4th Suffolk',
 '11th Essex',
 '11th Essex',
 '6th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '5th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '5th Suffolk',
 '11th Essex',
 '11th Essex',
 '7th Suffolk',
 '7th Suffolk',
 '5th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '7th Suffolk',
 '11th Suffolk',
 '11th Suffolk',
 '7th Suffolk',
 '13th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '11th Suffolk',
 '7th Suffolk',
 '9th Suffolk',
 '9th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '11th Essex',
 '11th Essex',
 '7th Suffolk',
 '7th Suffolk',
 '7th Suffolk',
 '11th Essex',
 '11th Essex',
 '11th Essex',
 '11th Essex',
 '11th Essex',
 '2nd Norfolk',
 '2nd Norfolk',
 '2nd Norfolk',
 '2nd Norfolk',
 '2nd Norfolk',
 '2nd Norfolk',
 '2nd Norfolk',
 '6th Suffolk',
 '11th Suffolk',
 '6th Suffolk',
 '6th Suffolk',
 '2nd Norfolk',
 '6th Suffolk',
 '11th Suffolk',
 '2nd Norfolk',
 '11th Suffolk',
 '6th Suffolk',
 '6th Suffolk',
 '6th Suffolk',
 '6th Suffolk']

In [19]:
level_0_df = get_counts(level_0_dists)
level_0_df

           index   0
0    6th Suffolk  12
1   11th Suffolk  35
2    7th Suffolk  38
3    1st Suffolk   3
4   13th Suffolk   2
5   16th Suffolk   2
6    4th Suffolk   2
7     11th Essex  11
8    5th Suffolk   3
9    9th Suffolk   2
10   2nd Norfolk   9

In [20]:
level_0_df = level_0_df.rename(columns={'index':'district', 0:'level_0'})
level_0_df

        district  level_0
0    6th Suffolk       12
1   11th Suffolk       35
2    7th Suffolk       38
3    1st Suffolk        3
4   13th Suffolk        2
5   16th Suffolk        2
6    4th Suffolk        2
7     11th Essex       11
8    5th Suffolk        3
9    9th Suffolk        2
10   2nd Norfolk        9

In [14]:
level_1 = rep_df[rep_df['income_level'] == 1] 
level_1

,dist_code,Rep First,Rep Last,stop_id,Impacted T,Proportion,REP,rep_dist,Rep Party,route_ids,...,tract_id,URL,Geometry,Geometry (HOUSE2012 POLY.shp),Impacted P,Income,income_level,Repdistnum,Shape Area,Shape Len
258,SUFF07,Chynah,Tyler,11.0,"010405,010404,010500,080801,080601,080500,0804...","0.69,0.21,0.00,0.20,0.97,1.00,0.99,0.15,0.20,0...",Chynah Tyler (D),7th Suffolk,(D),"19,8,47",...,80500.0,http://malegislature.gov/Legislators/Profile/C_T1,Point,Polygon,6904.0,33295.0,1.0,130.0,4.570023e+06,18791.172558
262,SUFF15,Nika,Elugardo,21317.0,"400900,400800,010405,010300,981800,081100,0809...","0.02,0.04,0.04,0.81,0.11,0.42,1.00,0.89,0.02,0...",Nika Elugardo (D),15th Suffolk,(D),39,...,80900.0,http://malegislature.gov/Legislators/Profile/N_E1,Point,Polygon,6665.0,38010.0,1.0,138.0,8.393152e+06,22444.168760
265,SUFF19,Robert A.,DeLeo,109843.0,"180500,990101,180400","0.55,0.78,0.33",Robert A. DeLeo (D),19th Suffolk,(D),"713,712",...,180500.0,http://malegislature.gov/Legislators/Profile/RAD1,Point,MultiPolygon,442.0,40391.0,1.0,142.0,1.047360e+07,37757.836962
266,SUFF19,Robert A.,DeLeo,109863.0,"180500,990101,180400","0.54,0.77,0.33",Robert A. DeLeo (D),19th Suffolk,(D),"713,712",...,180500.0,http://malegislature.gov/Legislators/Profile/RAD1,Point,MultiPolygon,436.0,40439.0,1.0,142.0,1.047360e+07,37757.836962
282,SUFF07,Chynah,Tyler,92391.0,"400900,400800,010405,010300,981800,081100,0809...","0.02,0.04,0.04,0.84,0.12,0.37,1.00,0.90,0.02,0...",Chynah Tyler (D),7th Suffolk,(D),"35,32,37,36,21,38,34,39",...,81001.0,http://malegislature.gov/Legislators/Profile/C_T1,Point,Polygon,6713.0,37764.0,1.0,130.0,4.570023e+06,18791.172558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7672,NOR02,Tackey,Chan,3304.0,"417901,417802,422800,422700","0.11,0.57,0.02,0.00",Tackey Chan (D),2nd Norfolk,(D),"216,214",...,417802.0,http://malegislature.gov/Legislators/Profile/T_C1,Point,MultiPolygon,256.0,32295.0,1.0,98.0,1.469013e+07,35915.584619
7720,SUFF06,Russell E.,Holmes,421.0,"980300,100500,100300,100200,100100,092400,0923...","0.01,0.17,0.08,0.20,0.68,0.94,0.84,0.20,0.23",Russell E. Holmes (D),6th Suffolk,(D),"22,45",...,92400.0,http://malegislature.gov/Legislators/Profile/REH1,Point,Polygon,3302.0,39127.0,1.0,129.0,7.922006e+06,22391.247389
7728,SUFF06,Russell E.,Holmes,376.0,"980300,100500,100300,100200,100100,092400,0923...","0.02,0.15,0.07,0.19,0.69,0.96,0.80,0.19,0.24",Russell E. Holmes (D),6th Suffolk,(D),"22,45",...,100100.0,http://malegislature.gov/Legislators/Profile/REH1,Point,Polygon,3274.0,38644.0,1.0,129.0,7.922006e+06,22391.247389
7747,SUFF06,Russell E.,Holmes,420.0,"980300,100500,100200,100100,092400,092300,0919...","0.15,0.02,0.00,0.81,1.00,0.30,0.07,0.30",Russell E. Holmes (D),6th Suffolk,(D),"22,45",...,100100.0,http://malegislature.gov/Legislators/Profile/REH1,Point,Polygon,2775.0,32147.0,1.0,129.0,7.922006e+06,22391.247389
7750,SUFF06,Russell E.,Holmes,378.0,"980300,100500,100100,092400,092300,091900,090100","0.16,0.01,0.81,1.00,0.27,0.06,0.30",Russell E. Holmes (D),6th Suffolk,(D),"22,45",...,100100.0,http://malegislature.gov/Legislators/Profile/REH1,Point,Polygon,2735.0,31686.0,1.0,129.0,7.922006e+06,22391.247389

In [15]:
level_1_dists = get_districts(level_1)
level_1_df = get_counts(level_1_dists)
level_1_df = level_1_df.rename(columns={'index':'district', 0:'level_1'})
level_1_df

        district  level_1
0    7th Suffolk       63
1   15th Suffolk       11
2   19th Suffolk       18
3    2nd Norfolk        9
4     11th Essex       37
5     10th Essex       24
6   14th Suffolk        4
7      8th Essex        9
8    1st Suffolk       19
9    6th Suffolk       22
10  11th Suffolk       30
11   5th Suffolk       35
12   9th Suffolk       13
13  16th Suffolk        3
14   4th Suffolk       11

In [21]:
both_levels_df = level_0_df.merge(level_1_df, how='outer', on='district')
both_levels_df

        district  level_0  level_1
0    6th Suffolk     12.0     22.0
1   11th Suffolk     35.0     30.0
2    7th Suffolk     38.0     63.0
3    1st Suffolk      3.0     19.0
4   13th Suffolk      2.0      NaN
5   16th Suffolk      2.0      3.0
6    4th Suffolk      2.0     11.0
7     11th Essex     11.0     37.0
8    5th Suffolk      3.0     35.0
9    9th Suffolk      2.0     13.0
10   2nd Norfolk      9.0      9.0
11  15th Suffolk      NaN     11.0
12  19th Suffolk      NaN     18.0
13    10th Essex      NaN     24.0
14  14th Suffolk      NaN      4.0
15     8th Essex      NaN      9.0

In [22]:
both_levels_df = both_levels_df.fillna(0)
both_levels_df

        district  level_0  level_1
0    6th Suffolk     12.0     22.0
1   11th Suffolk     35.0     30.0
2    7th Suffolk     38.0     63.0
3    1st Suffolk      3.0     19.0
4   13th Suffolk      2.0      0.0
5   16th Suffolk      2.0      3.0
6    4th Suffolk      2.0     11.0
7     11th Essex     11.0     37.0
8    5th Suffolk      3.0     35.0
9    9th Suffolk      2.0     13.0
10   2nd Norfolk      9.0      9.0
11  15th Suffolk      0.0     11.0
12  19th Suffolk      0.0     18.0
13    10th Essex      0.0     24.0
14  14th Suffolk      0.0      4.0
15     8th Essex      0.0      9.0

In [23]:
both_levels_df['total'] = both_levels_df.apply(lambda row: row.level_0 + row.level_1, axis=1) 
both_levels_df

        district  level_0  level_1  total
0    6th Suffolk     12.0     22.0   34.0
1   11th Suffolk     35.0     30.0   65.0
2    7th Suffolk     38.0     63.0  101.0
3    1st Suffolk      3.0     19.0   22.0
4   13th Suffolk      2.0      0.0    2.0
5   16th Suffolk      2.0      3.0    5.0
6    4th Suffolk      2.0     11.0   13.0
7     11th Essex     11.0     37.0   48.0
8    5th Suffolk      3.0     35.0   38.0
9    9th Suffolk      2.0     13.0   15.0
10   2nd Norfolk      9.0      9.0   18.0
11  15th Suffolk      0.0     11.0   11.0
12  19th Suffolk      0.0     18.0   18.0
13    10th Essex      0.0     24.0   24.0
14  14th Suffolk      0.0      4.0    4.0
15     8th Essex      0.0      9.0    9.0

In [24]:
cols = ['level_0','level_1','total']
both_levels_df[cols] = both_levels_df[cols].astype(int)
both_levels_df

        district  level_0  level_1  total
0    6th Suffolk       12       22     34
1   11th Suffolk       35       30     65
2    7th Suffolk       38       63    101
3    1st Suffolk        3       19     22
4   13th Suffolk        2        0      2
5   16th Suffolk        2        3      5
6    4th Suffolk        2       11     13
7     11th Essex       11       37     48
8    5th Suffolk        3       35     38
9    9th Suffolk        2       13     15
10   2nd Norfolk        9        9     18
11  15th Suffolk        0       11     11
12  19th Suffolk        0       18     18
13    10th Essex        0       24     24
14  14th Suffolk        0        4      4
15     8th Essex        0        9      9

In [25]:
both_levels_df.sort_values('total', ascending=False)

        district  level_0  level_1  total
2    7th Suffolk       38       63    101
1   11th Suffolk       35       30     65
7     11th Essex       11       37     48
8    5th Suffolk        3       35     38
0    6th Suffolk       12       22     34
13    10th Essex        0       24     24
3    1st Suffolk        3       19     22
10   2nd Norfolk        9        9     18
12  19th Suffolk        0       18     18
9    9th Suffolk        2       13     15
6    4th Suffolk        2       11     13
11  15th Suffolk        0       11     11
15     8th Essex        0        9      9
5   16th Suffolk        2        3      5
14  14th Suffolk        0        4      4
4   13th Suffolk        2        0      2

In [27]:
both_levels_df['rep'] = ''
both_levels_df

        district  level_0  level_1  total rep
0    6th Suffolk       12       22     34
1   11th Suffolk       35       30     65
2    7th Suffolk       38       63    101
3    1st Suffolk        3       19     22
4   13th Suffolk        2        0      2
5   16th Suffolk        2        3      5
6    4th Suffolk        2       11     13
7     11th Essex       11       37     48
8    5th Suffolk        3       35     38
9    9th Suffolk        2       13     15
10   2nd Norfolk        9        9     18
11  15th Suffolk        0       11     11
12  19th Suffolk        0       18     18
13    10th Essex        0       24     24
14  14th Suffolk        0        4      4
15     8th Essex        0        9      9

In [26]:
dist_df = pd.read_csv('./output/district_info.csv')
dist_df

,Dist Code,REP,Rep Dist,Rep First,Rep Last,Rep Party,URL,Geometry,Repdistnum,Shape Area,Shape Len
0,ESS10,Daniel H. Cahill (D),10th Essex,Daniel H.,Cahill,(D),http://malegislature.gov/Legislators/Profile/DFC1,Polygon,34,9.826901e+06,21703.160093
1,ESS17,Frank A. Moran (D),17th Essex,Frank A.,Moran,(D),http://malegislature.gov/Legislators/Profile/FAM1,Polygon,41,2.400351e+07,33420.837627
2,HAMPD04,John C. Velis (D),4th Hampden,John C.,Velis,(D),http://malegislature.gov/Legislators/Profile/JCV1,Polygon,48,1.227177e+08,46372.080408
3,HAMPD05,Aaron Vega (D),5th Hampden,Aaron,Vega,(D),http://malegislature.gov/Legislators/Profile/A_V1,Polygon,49,5.913821e+07,39684.237225
4,BRIST11,Christopher Hendricks (D),11th Bristol,Christopher,Hendricks,(D),http://malegislature.gov/Legislators/Profile/C_H1,Polygon,21,5.830670e+07,47848.713346
...,...,...,...,...,...,...,...,...,...,...,...
155,SUFF01,Adrian C. Madaro (D),1st Suffolk,Adrian C.,Madaro,(D),http://malegislature.gov/Legislators/Profile/ACM1,Polygon,124,1.217128e+07,30483.245832
156,SUFF02,Daniel Joseph Ryan (D),2nd Suffolk,Daniel J.,Ryan,(D),http://malegislature.gov/Legislators/Profile/DJR1,MultiPolygon,125,8.031400e+06,29074.470151
157,MID12,Ruth B. Balser (D),12th Middlesex,Ruth B.,Balser,(D),http://malegislature.gov/Legislators/Profile/RBB1,Polygon,71,2.525967e+07,29460.899197
158,WORC16,Daniel M. Donahue (D),16th Worcester,Daniel M.,Donahue,(D),http://malegislature.gov/Legislators/Profile/DMD1,Polygon,158,1.927190e+07,22236.335828
159,NOR15,Tommy Vitolo (D),15th Norfolk,Tommy,Vitolo,(D),http://malegislature.gov/Legislators/Profile/T_V1,Polygon,111,5.526977e+06,18475.273738

In [35]:
def get_rep(dist_info, impacted_dists):
    reps = []
    for row in impacted_dists.itertuples():
        rep = dist_info.loc[dist_info['Rep Dist'] == row.district, 'REP'].values[0]
        reps.append(rep)
    return reps

In [37]:
reps = get_rep(dist_df, both_levels_df)
reps

['Russell E. Holmes (D)',
 'Elizabeth A. Malia (D)',
 'Chynah Tyler (D)',
 'Adrian C. Madaro (D)',
 'Daniel J. Hunt (D)',
 'RoseLee Vincent (D)',
 'David Biele (D)',
 'Peter L. Capano (D)',
 'Liz Miranda (D)',
 'Jon Santiago (D)',
 'Tackey Chan (D)',
 'Nika Elugardo (D)',
 'Robert A. DeLeo (D)',
 'Daniel H. Cahill (D)',
 'Angelo M. Scaccia (D)',
 'Lori A. Ehrlich (D)']

In [40]:
both_levels_df['rep'] = reps
both_levels_df

        district  level_0  level_1  total                     rep
0    6th Suffolk       12       22     34   Russell E. Holmes (D)
1   11th Suffolk       35       30     65  Elizabeth A. Malia (D)
2    7th Suffolk       38       63    101        Chynah Tyler (D)
3    1st Suffolk        3       19     22    Adrian C. Madaro (D)
4   13th Suffolk        2        0      2      Daniel J. Hunt (D)
5   16th Suffolk        2        3      5     RoseLee Vincent (D)
6    4th Suffolk        2       11     13         David Biele (D)
7     11th Essex       11       37     48     Peter L. Capano (D)
8    5th Suffolk        3       35     38         Liz Miranda (D)
9    9th Suffolk        2       13     15        Jon Santiago (D)
10   2nd Norfolk        9        9     18         Tackey Chan (D)
11  15th Suffolk        0       11     11       Nika Elugardo (D)
12  19th Suffolk        0       18     18     Robert A. DeLeo (D)
13    10th Essex        0       24     24    Daniel H. Cahill (D)
14  14th Suffolk        0        4      4   Angelo M. Scaccia (D)
15     8th Essex        0        9      9     Lori A. Ehrlich (D)

In [41]:
sorted_impacted_dists = both_levels_df.sort_values('total', ascending=False)
sorted_impacted_dists

        district  level_0  level_1  total                     rep
2    7th Suffolk       38       63    101        Chynah Tyler (D)
1   11th Suffolk       35       30     65  Elizabeth A. Malia (D)
7     11th Essex       11       37     48     Peter L. Capano (D)
8    5th Suffolk        3       35     38         Liz Miranda (D)
0    6th Suffolk       12       22     34   Russell E. Holmes (D)
13    10th Essex        0       24     24    Daniel H. Cahill (D)
3    1st Suffolk        3       19     22    Adrian C. Madaro (D)
10   2nd Norfolk        9        9     18         Tackey Chan (D)
12  19th Suffolk        0       18     18     Robert A. DeLeo (D)
9    9th Suffolk        2       13     15        Jon Santiago (D)
6    4th Suffolk        2       11     13         David Biele (D)
11  15th Suffolk        0       11     11       Nika Elugardo (D)
15     8th Essex        0        9      9     Lori A. Ehrlich (D)
5   16th Suffolk        2        3      5     RoseLee Vincent (D)
14  14th Suffolk        0        4      4   Angelo M. Scaccia (D)
4   13th Suffolk        2        0      2      Daniel J. Hunt (D)

In [92]:
sorted_impacted_dists.to_csv("./output/impacted_districts.csv")

In [42]:
rep_df

,dist_code,Rep First,Rep Last,stop_id,Impacted T,Proportion,REP,rep_dist,Rep Party,route_ids,...,tract_id,URL,Geometry,Geometry (HOUSE2012 POLY.shp),Impacted P,Income,income_level,Repdistnum,Shape Area,Shape Len
0,ESS09,Donald H.,Wong,7525.0,"208300,208400,208200","0.09,0.02,0.35",Donald H. Wong (R),9th Essex,(R),"429,430",...,208200.0,http://malegislature.gov/Legislators/Profile/DHW1,Point,Polygon,155.0,72990.0,2.0,33.0,4.103007e+07,47337.792022
1,NOR15,Tommy,Vitolo,1304.0,"400800,400400,400300,400500,400200,000703,0007...","0.11,0.73,1.00,0.19,0.63,0.95,0.73,0.02,0.30",Tommy Vitolo (D),15th Norfolk,(D),66,...,400300.0,http://malegislature.gov/Legislators/Profile/T_V1,Point,Polygon,7596.0,81528.0,2.0,111.0,5.526977e+06,18475.273738
2,SUFF10,Edward F.,Coppinger,61839.0,"130100,374000,373900","0.31,0.01,0.14",Edward F. Coppinger (D),10th Suffolk,(D),37,...,130100.0,http://malegislature.gov/Legislators/Profile/E_C1,Point,Polygon,285.0,122019.0,2.0,133.0,2.322508e+07,30760.399420
3,ESS11,Peter L.,Capano,6821.0,"207200,207100,207000,206100,206000,205900,2058...","0.17,0.90,0.35,0.64,1.00,0.29,0.34,0.05",Peter L. Capano (D),11th Essex,(D),"455,456,442,426,459,000",...,207000.0,http://malegislature.gov/Legislators/Profile/PLC1,Point,MultiPolygon,1821.0,45616.0,2.0,35.0,1.632272e+07,48737.154177
4,NOR15,Tommy,Vitolo,1375.0,"400800,400400,400300,400500,400200,000703,0007...","0.09,0.73,1.00,0.18,0.61,0.96,0.77,0.03,0.34",Tommy Vitolo (D),15th Norfolk,(D),66,...,400300.0,http://malegislature.gov/Legislators/Profile/T_V1,Point,Polygon,7704.0,80919.0,2.0,111.0,5.526977e+06,18475.273738
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7910,WORC18,Joseph D.,McKenna,NaN,NaN,NaN,Joseph D. McKenna (R),18th Worcester,(R),NaN,...,NaN,http://malegislature.gov/Legislators/Profile/JDM1,NaN,Polygon,NaN,NaN,NaN,160.0,2.529885e+08,87122.316230
7911,PLYM12,Kathleen P.,LaNatra,NaN,NaN,NaN,Kathleen P. LaNatra (D),12th Plymouth,(D),NaN,...,NaN,http://malegislature.gov/Legislators/Profile/KPL1,NaN,MultiPolygon,NaN,NaN,NaN,123.0,2.109878e+08,122876.737976
7912,BRIST12,Norman J.,Orrall,NaN,NaN,NaN,Norman J. Orrall (R),12th Bristol,(R),NaN,...,NaN,http://malegislature.gov/Legislators/Profile/NJO1,NaN,Polygon,NaN,NaN,NaN,22.0,2.170317e+08,120696.616783
7913,ESS02,Leonard,Mirra,NaN,NaN,NaN,Leonard Mirra (R),2nd Essex,(R),NaN,...,NaN,http://malegislature.gov/Legislators/Profile/L_M1,NaN,MultiPolygon,NaN,NaN,NaN,26.0,2.410055e+08,137341.402345
7914,WORC16,Daniel M.,Donahue,NaN,NaN,NaN,Daniel M. Donahue (D),16th Worcester,(D),NaN,...,NaN,http://malegislature.gov/Legislators/Profile/DMD1,NaN,Polygon,NaN,NaN,NaN,158.0,1.927190e+07,22236.335828

In [43]:
all_stop_info = rep_df[rep_df['stop_id'].notna()]
all_stop_info

,dist_code,Rep First,Rep Last,stop_id,Impacted T,Proportion,REP,rep_dist,Rep Party,route_ids,...,tract_id,URL,Geometry,Geometry (HOUSE2012 POLY.shp),Impacted P,Income,income_level,Repdistnum,Shape Area,Shape Len
0,ESS09,Donald H.,Wong,7525.0,"208300,208400,208200","0.09,0.02,0.35",Donald H. Wong (R),9th Essex,(R),"429,430",...,208200.0,http://malegislature.gov/Legislators/Profile/DHW1,Point,Polygon,155.0,72990.0,2.0,33.0,4.103007e+07,47337.792022
1,NOR15,Tommy,Vitolo,1304.0,"400800,400400,400300,400500,400200,000703,0007...","0.11,0.73,1.00,0.19,0.63,0.95,0.73,0.02,0.30",Tommy Vitolo (D),15th Norfolk,(D),66,...,400300.0,http://malegislature.gov/Legislators/Profile/T_V1,Point,Polygon,7596.0,81528.0,2.0,111.0,5.526977e+06,18475.273738
2,SUFF10,Edward F.,Coppinger,61839.0,"130100,374000,373900","0.31,0.01,0.14",Edward F. Coppinger (D),10th Suffolk,(D),37,...,130100.0,http://malegislature.gov/Legislators/Profile/E_C1,Point,Polygon,285.0,122019.0,2.0,133.0,2.322508e+07,30760.399420
3,ESS11,Peter L.,Capano,6821.0,"207200,207100,207000,206100,206000,205900,2058...","0.17,0.90,0.35,0.64,1.00,0.29,0.34,0.05",Peter L. Capano (D),11th Essex,(D),"455,456,442,426,459,000",...,207000.0,http://malegislature.gov/Legislators/Profile/PLC1,Point,MultiPolygon,1821.0,45616.0,2.0,35.0,1.632272e+07,48737.154177
4,NOR15,Tommy,Vitolo,1375.0,"400800,400400,400300,400500,400200,000703,0007...","0.09,0.73,1.00,0.18,0.61,0.96,0.77,0.03,0.34",Tommy Vitolo (D),15th Norfolk,(D),66,...,400300.0,http://malegislature.gov/Legislators/Profile/T_V1,Point,Polygon,7704.0,80919.0,2.0,111.0,5.526977e+06,18475.273738
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7811,NaN,NaN,NaN,55011.0,"350104,350103,040600,342400","0.00,0.34,0.00,0.19",NaN,NaN,NaN,"104,109,105",...,40600.0,NaN,Point,NaN,413.0,88655.0,2.0,NaN,NaN,NaN
7812,NaN,NaN,NaN,45151.0,"208102,170400,170300","0.11,0.30,0.08",NaN,NaN,NaN,"450,455,424,434,459",...,170300.0,NaN,Point,NaN,394.0,58926.0,2.0,NaN,NaN,NaN
7813,NaN,NaN,NaN,5501.0,"350103,040600,342400","0.23,0.00,0.26",NaN,NaN,NaN,"104,109,105",...,40600.0,NaN,Point,NaN,472.0,80495.0,2.0,NaN,NaN,NaN
7814,NaN,NaN,NaN,5505.0,"350103,040600,342400","0.23,0.00,0.26",NaN,NaN,NaN,"104,109,105",...,40600.0,NaN,Point,NaN,472.0,80495.0,2.0,NaN,NaN,NaN
7815,NaN,NaN,NaN,5506.0,"350103,040600,342400","0.07,0.00,0.36",NaN,NaN,NaN,"104,109,105",...,40600.0,NaN,Point,NaN,557.0,65960.0,2.0,NaN,NaN,NaN

In [45]:
list(all_stop_info)

['dist_code',
 'Rep First',
 'Rep Last',
 'stop_id',
 'Impacted T',
 'Proportion',
 'REP',
 'rep_dist',
 'Rep Party',
 'route_ids',
 'Stop Name',
 'Town',
 'Town Id',
 'tract_id',
 'URL',
 'Geometry',
 'Geometry (HOUSE2012 POLY.shp)',
 'Impacted P',
 'Income',
 'income_level',
 'Repdistnum',
 'Shape Area',
 'Shape Len']

In [44]:
duplicates = all_stop_info[all_stop_info.duplicated(subset=['stop_id'], keep=False)]
duplicates

,dist_code,Rep First,Rep Last,stop_id,Impacted T,Proportion,REP,rep_dist,Rep Party,route_ids,...,tract_id,URL,Geometry,Geometry (HOUSE2012 POLY.shp),Impacted P,Income,income_level,Repdistnum,Shape Area,Shape Len
1190,NOR03,Ronald,Mariano,3906.0,"421200,419600","0.12,0.07",Ronald Mariano (D),3rd Norfolk,(D),230,...,421200.0,http://malegislature.gov/Legislators/Profile/R_M1,Point,MultiPolygon,80.0,81629.0,2.0,99.0,3.623928e+07,58965.766465
1192,NOR05,Mark J.,Cusack,3906.0,"421200,419600","0.12,0.07",Mark J. Cusack (D),5th Norfolk,(D),230,...,421200.0,http://malegislature.gov/Legislators/Profile/MJC1,Point,Polygon,80.0,81629.0,2.0,101.0,4.274402e+07,37812.971601
1295,NOR01,Bruce J.,Ayers,4186.0,"420302,420301,420100,420201","0.06,0.28,0.01,0.03",Bruce J. Ayers (D),1st Norfolk,(D),240,...,420301.0,http://malegislature.gov/Legislators/Profile/BJA1,Point,Polygon,157.0,66805.0,2.0,97.0,3.201048e+07,65034.936378
1301,NOR07,William J.,Driscoll,4186.0,"420302,420301,420100,420201","0.06,0.28,0.01,0.03",William J. Driscoll (D),7th Norfolk,(D),240,...,420301.0,http://malegislature.gov/Legislators/Profile/WJD1,Point,Polygon,157.0,66805.0,2.0,103.0,4.743671e+07,60203.461314
2881,NOR03,Ronald,Mariano,4009.0,"421200,421100","0.11,0.10",Ronald Mariano (D),3rd Norfolk,(D),230,...,421100.0,http://malegislature.gov/Legislators/Profile/R_M1,Point,MultiPolygon,93.0,70362.0,2.0,99.0,3.623928e+07,58965.766465
2883,NOR05,Mark J.,Cusack,4009.0,"421200,421100","0.11,0.10",Mark J. Cusack (D),5th Norfolk,(D),230,...,421100.0,http://malegislature.gov/Legislators/Profile/MJC1,Point,Polygon,93.0,70362.0,2.0,101.0,4.274402e+07,37812.971601
3971,NOR03,Ronald,Mariano,3517.0,"417701,417702,418101,417902,417901,418002","0.70,0.12,0.05,0.63,0.05,0.05",Ronald Mariano (D),3rd Norfolk,(D),"220,222,221",...,417701.0,http://malegislature.gov/Legislators/Profile/R_M1,Point,MultiPolygon,1699.0,64847.0,2.0,99.0,3.623928e+07,58965.766465
3973,NOR02,Tackey,Chan,3517.0,"417701,417702,418101,417902,417901,418002","0.70,0.12,0.05,0.63,0.05,0.05",Tackey Chan (D),2nd Norfolk,(D),"220,222,221",...,417701.0,http://malegislature.gov/Legislators/Profile/T_C1,Point,MultiPolygon,1699.0,64847.0,2.0,98.0,1.469013e+07,35915.584619
3975,NOR03,Ronald,Mariano,3638.0,"417701,417702,418101,417902,417901,418002","0.69,0.12,0.04,0.65,0.05,0.05",Ronald Mariano (D),3rd Norfolk,(D),"220,222,221",...,417701.0,http://malegislature.gov/Legislators/Profile/R_M1,Point,MultiPolygon,1690.0,64782.0,2.0,99.0,3.623928e+07,58965.766465
3977,NOR02,Tackey,Chan,3638.0,"417701,417702,418101,417902,417901,418002","0.69,0.12,0.04,0.65,0.05,0.05",Tackey Chan (D),2nd Norfolk,(D),"220,222,221",...,417701.0,http://malegislature.gov/Legislators/Profile/T_C1,Point,MultiPolygon,1690.0,64782.0,2.0,98.0,1.469013e+07,35915.584619
6043,NOR01,Bruce J.,Ayers,1637.0,"418003,418102,418004,418101,418200","0.31,0.72,0.22,0.06,0.04",Bruce J. Ayers (D),1st Norfolk,(D),238,...,418003.0,http://malegislature.gov/Legislators/Profile/BJA1,Point,Polygon,748.0,67686.0,2.0,97.0,3.201048e+07,65034.936378
6048,NOR02,Tackey,Chan,1637.0,"418003,418102,418004,418101,418200","0.31,0.72,0.22,0.06,0.04",Tackey Chan (D),2nd Norfolk,(D),238,...,418003.0,http://malegislature.gov/Legislators/Profile/T_C1,Point,MultiPolygon,748.0,67686.0,2.0,98.0,1.469013e+07,35915.584619

There's 6 stops that have duplicated rows, presumably because the stop is located on a boundary between districts. However, all stops with duplicate rows are income level 2, so this does not impact our analysis.

important columns to keep in master csv:
'dist_code', 'stop_id', 'Impacted T', 'Proportion', 'REP', 'rep_dist', 'Rep Party', 'route_ids', 'Stop Name', 'Town', 'Town Id', 'tract_id',  'Impacted P','Income','income_level','Repdistnum'

In this case, 'Impacted P' is the radius one calculated for each stop

### From other csvs:
tracts_with_population.csv: 'public_transport', 'walking', 'other', 'impacted_pop' for impacted population by tract. will need to merge on tract_id

In [46]:
important_cols = ['dist_code', 'stop_id', 'Impacted T', 'Proportion', 'REP', 'rep_dist', 'Rep Party', 'route_ids', 'Stop Name', 'Town', 'Town Id', 'tract_id',  'Impacted P','Income','income_level','Repdistnum']
len(important_cols)

16

In [47]:
important_info = all_stop_info[important_cols]
important_info

,dist_code,stop_id,Impacted T,Proportion,REP,rep_dist,Rep Party,route_ids,Stop Name,Town,Town Id,tract_id,Impacted P,Income,income_level,Repdistnum
0,ESS09,7525.0,"208300,208400,208200","0.09,0.02,0.35",Donald H. Wong (R),9th Essex,(R),"429,430",Vine St @ Talbot St,SAUGUS,262.0,208200.0,155.0,72990.0,2.0,33.0
1,NOR15,1304.0,"400800,400400,400300,400500,400200,000703,0007...","0.11,0.73,1.00,0.19,0.63,0.95,0.73,0.02,0.30",Tommy Vitolo (D),15th Norfolk,(D),66,Harvard St @ Coolidge St,BROOKLINE,46.0,400300.0,7596.0,81528.0,2.0,111.0
2,SUFF10,61839.0,"130100,374000,373900","0.31,0.01,0.14",Edward F. Coppinger (D),10th Suffolk,(D),37,St Joseph Cemetery,BOSTON,35.0,130100.0,285.0,122019.0,2.0,133.0
3,ESS11,6821.0,"207200,207100,207000,206100,206000,205900,2058...","0.17,0.90,0.35,0.64,1.00,0.29,0.34,0.05",Peter L. Capano (D),11th Essex,(D),"455,456,442,426,459,000",170 S Common St,LYNN,163.0,207000.0,1821.0,45616.0,2.0,35.0
4,NOR15,1375.0,"400800,400400,400300,400500,400200,000703,0007...","0.09,0.73,1.00,0.18,0.61,0.96,0.77,0.03,0.34",Tommy Vitolo (D),15th Norfolk,(D),66,Harvard St @ Coolidge St,BROOKLINE,46.0,400300.0,7704.0,80919.0,2.0,111.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7811,NaN,55011.0,"350104,350103,040600,342400","0.00,0.34,0.00,0.19",NaN,NaN,NaN,"104,109,105",Alford St @ MWRA Pump Station,BOSTON,35.0,40600.0,413.0,88655.0,2.0,NaN
7812,NaN,45151.0,"208102,170400,170300","0.11,0.30,0.08",NaN,NaN,NaN,"450,455,424,434,459",107 Salem Tnpk,REVERE,248.0,170300.0,394.0,58926.0,2.0,NaN
7813,NaN,5501.0,"350103,040600,342400","0.23,0.00,0.26",NaN,NaN,NaN,"104,109,105",Opp 173 Alford St,BOSTON,35.0,40600.0,472.0,80495.0,2.0,NaN
7814,NaN,5505.0,"350103,040600,342400","0.23,0.00,0.26",NaN,NaN,NaN,"104,109,105",173 Alford St,BOSTON,35.0,40600.0,472.0,80495.0,2.0,NaN
7815,NaN,5506.0,"350103,040600,342400","0.07,0.00,0.36",NaN,NaN,NaN,"104,109,105",Broadway @ Dexter St,BOSTON,35.0,40600.0,557.0,65960.0,2.0,NaN

In [93]:
important_info.to_csv("./output/important_info.csv")

In [48]:
pop_df = pd.read_csv("./output/tracts_with_population.csv")
pop_df = pop_df.drop(columns=['Unnamed: 0'])
pop_df

,tract_id,public_transport,walking,other,total_employed,income,impacted_pop
0,10100,34,391,208,1658,50741,633
1,10206,26,86,57,1620,69267,169
2,10208,0,1,8,604,65446,9
3,10304,18,0,12,1077,79044,30
4,10306,0,67,41,1087,62553,108
...,...,...,...,...,...,...,...
1473,760100,2,15,10,1804,68125,27
1474,761100,0,24,0,2673,69851,24
1475,761200,142,32,38,2511,77938,212
1476,761300,33,10,78,1931,94122,121
1477,761400,172,51,7,2707,148625,230

In [60]:
pop_dupes = pop_df[pop_df.duplicated(subset=['tract_id'], keep=False)]
pop_dupes

,tract_id,public_transport,walking,other,total_employed,income,impacted_pop
6,10500,0,10,35,1056,78682,45
7,10600,12,17,35,1326,73203,64
56,990000,0,0,0,0,0,0
221,990000,0,0,0,0,0,0
226,990000,0,0,0,0,0,0
390,40100,7,69,15,2177,56865,91
391,40200,0,125,23,2460,67620,148
392,40300,0,34,15,1633,72083,49
396,40600,14,16,29,2553,82286,59
870,990000,0,0,0,0,0,0
1128,10500,567,463,59,1680,49417,1089
1129,10600,487,739,81,1880,93214,1307
1144,40100,146,447,84,1581,157222,677
1145,40200,194,122,0,864,52262,316
1146,40300,938,328,206,2979,135744,1472
1148,40600,548,266,64,2245,141736,878

In [61]:
impacted_pop = int(pop_df[pop_df.tract_id==int('40100')].impacted_pop.values[0])
impacted_pop

91

In [63]:
pop_df[pop_df.tract_id==int('40100')]

,tract_id,public_transport,walking,other,total_employed,income,impacted_pop
390,40100,7,69,15,2177,56865,91
1144,40100,146,447,84,1581,157222,677

In [64]:
pop_df[pop_df.tract_id==int('40100')].impacted_pop.values[0]

91

In [67]:
df_income_tract = pd.read_csv('./data/census_tract/census/census.csv')
df_income_tract

      Unnamed: 0  B19013_001E  state  county   tract
0              0       132750     25      25   60501
1              1        12759     25      25   61101
2              2        84083     25      25   70101
3              3        28851     25      25   70402
4              4        52676     25      25   71101
...          ...          ...    ...     ...     ...
1472        1472        69750     25       5  613902
1473        1473        52741     25       5  630101
1474        1474        58362     25       5  630102
1475        1475        34692     25       5  640901
1476        1476        17632     25       5  641101

[1477 rows x 5 columns]

In [68]:
tract_dupes = df_income_tract[df_income_tract.duplicated(subset=['tract'], keep=False)]
tract_dupes

      Unnamed: 0  B19013_001E  state  county   tract
343          343        82286     25      11   40600
487          487        73203     25       1   10600
495          495        78682     25       1   10500
601          601        72083     25      11   40300
639          639        67620     25      11   40200
642          642        56865     25      11   40100
736          736        93214     25      25   10600
737          737       157222     25      25   40100
738          738       135744     25      25   40300
1028        1028   -666666666     25       5  990000
1029        1029   -666666666     25       7  990000
1125        1125   -666666666     25      19  990000
1295        1295        52262     25      25   40200
1343        1343       141736     25      25   40600
1355        1355        49417     25      25   10500
1461        1461   -666666666     25       1  990000

In [71]:
duplicated_tracts = list(tract_dupes.tract.unique())
duplicated_tracts

[40600, 10600, 10500, 40300, 40200, 40100, 990000]

In [79]:
duplicated_tracts_str = list(map(str, duplicated_tracts))
duplicated_tracts_str

['40600', '10600', '10500', '40300', '40200', '40100', '990000']

In [83]:
important_info.dtypes

dist_code        object
stop_id         float64
Impacted T       object
Proportion       object
REP              object
rep_dist         object
Rep Party        object
route_ids        object
Stop Name        object
Town             object
Town Id         float64
tract_id          int64
Impacted P      float64
Income          float64
income_level    float64
Repdistnum      float64
dtype: object

In [85]:
important_info['Impacted T'] = important_info['Impacted T'].astype("string")
important_info.dtypes

<ipython-input-85-400cd4f0877b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  important_info['Impacted T'] = important_info['Impacted T'].astype("string")

dist_code        object
stop_id         float64
Impacted T       string
Proportion       object
REP              object
rep_dist         object
Rep Party        object
route_ids        object
Stop Name        object
Town             object
Town Id         float64
tract_id          int64
Impacted P      float64
Income          float64
income_level    float64
Repdistnum      float64
dtype: object

In [87]:
problem_stops = important_info[important_info['Impacted T'].str.contains('|'.join(duplicated_tracts_str))]
problem_stops

,dist_code,stop_id,Impacted T,Proportion,REP,rep_dist,Rep Party,route_ids,Stop Name,Town,Town Id,tract_id,Impacted P,Income,income_level,Repdistnum
17,SUFF03,15095.0,"010702,010600,981700,070700,070600,070500,0703...","0.01,0.00,0.07,0.15,0.31,0.58,0.97,1.00,0.28,0...",Aaron M. Michlewitz (D),3rd Suffolk,(D),"749,11,751",Washington St @ Herald St,BOSTON,35.0,70402,8012.0,71618.0,2.0,126.0
22,SUFF03,11481.0,"010600,981700,070700,070600,070500,070300,0702...","0.00,0.09,0.03,0.07,0.45,0.86,1.00,0.39,0.19,1...",Aaron M. Michlewitz (D),3rd Suffolk,(D),9,Herald St @ Harrison Ave,BOSTON,35.0,70402,7339.0,64852.0,2.0,126.0
26,SUFF03,49003.0,"010702,010600,981700,070700,070600,070500,0703...","0.02,0.00,0.15,0.14,0.25,0.54,0.98,1.00,0.33,0...",Aaron M. Michlewitz (D),3rd Suffolk,(D),"749,751",Washington St @ Herald St,BOSTON,35.0,70402,7896.0,69615.0,2.0,126.0
51,SUFF03,148.0,"010702,010600,981700,070700,070600,070500,0703...","0.04,0.00,0.20,0.16,0.25,0.52,0.98,1.00,0.35,0...",Aaron M. Michlewitz (D),3rd Suffolk,(D),9,Herald St @ Washington St,BOSTON,35.0,70402,7900.0,69346.0,2.0,126.0
61,SUFF03,168.0,"010702,010600,981700,070700,070600,070500,0703...","0.48,0.01,0.26,0.87,0.75,0.76,1.00,0.96,0.09,0...",Aaron M. Michlewitz (D),3rd Suffolk,(D),43,Tremont St @ Appleton St,BOSTON,35.0,70402,9269.0,85352.0,2.0,126.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7795,SUFF14,8343.0,"140300,140201,140202,140102,140107,980700","0.15,0.19,0.10,0.42,0.27,0.10",Angelo M. Scaccia (D),14th Suffolk,(D),33,Opp 1557 River St,BOSTON,35.0,140102,637.0,67348.0,2.0,137.0
7811,NaN,55011.0,"350104,350103,040600,342400","0.00,0.34,0.00,0.19",NaN,NaN,NaN,"104,109,105",Alford St @ MWRA Pump Station,BOSTON,35.0,40600,413.0,88655.0,2.0,NaN
7813,NaN,5501.0,"350103,040600,342400","0.23,0.00,0.26",NaN,NaN,NaN,"104,109,105",Opp 173 Alford St,BOSTON,35.0,40600,472.0,80495.0,2.0,NaN
7814,NaN,5505.0,"350103,040600,342400","0.23,0.00,0.26",NaN,NaN,NaN,"104,109,105",173 Alford St,BOSTON,35.0,40600,472.0,80495.0,2.0,NaN
7815,NaN,5506.0,"350103,040600,342400","0.07,0.00,0.36",NaN,NaN,NaN,"104,109,105",Broadway @ Dexter St,BOSTON,35.0,40600,557.0,65960.0,2.0,NaN

[40600, 10600, 10500, 40300, 40200, 40100, 990000]

In [88]:
list(problem_stops.income_level.unique())

[2.0, 1.0, 0.0, 3.0]

In [90]:
problem_stops_0 = problem_stops[problem_stops['income_level'] == 0] 
problem_stops_0

,dist_code,stop_id,Impacted T,Proportion,REP,rep_dist,Rep Party,route_ids,Stop Name,Town,Town Id,tract_id,Impacted P,Income,income_level,Repdistnum
340,SUFF07,1227.0,"010405,010404,010500,010300,981800,080801,0806...","0.87,0.78,0.00,0.11,0.01,0.50,0.97,1.00,0.68,0...",Chynah Tyler (D),7th Suffolk,(D),43,Tremont St @ Melnea Cass Blvd,BOSTON,35.0,80500,7926.0,30613.0,0.0,130.0
344,SUFF07,1255.0,"010405,010404,010500,010300,981800,080801,0806...","0.87,0.78,0.00,0.11,0.01,0.50,0.97,1.00,0.68,0...",Chynah Tyler (D),7th Suffolk,(D),43,Tremont St @ Columbus Ave,BOSTON,35.0,80500,7926.0,30613.0,0.0,130.0
415,SUFF07,17863.0,"010405,010404,010500,010300,981800,080801,0806...","0.91,0.96,0.00,0.22,0.08,0.74,0.90,0.93,0.38,0...",Chynah Tyler (D),7th Suffolk,(D),"15,22,43,708,45,747,8,44,47",Ruggles Station - Lane 2,BOSTON,35.0,80601,7928.0,28013.0,0.0,130.0
439,SUFF07,17862.0,"010405,010404,010500,010300,981800,080801,0806...","0.91,0.98,0.00,0.22,0.09,0.75,0.88,0.92,0.36,0...",Chynah Tyler (D),7th Suffolk,(D),"28,22,19,708,29,8,23,47",Ruggles Station - Lane 1,BOSTON,35.0,80601,7925.0,27963.0,0.0,130.0
442,SUFF07,17861.0,"010405,010404,010408,010500,010300,981800,0808...","0.92,1.00,0.08,0.00,0.26,0.13,0.82,0.85,0.83,0...",Chynah Tyler (D),7th Suffolk,(D),"28,15,22,57,9,19,708,45,29,747,44,23,8,47",Ruggles Sta - Upper Level,BOSTON,35.0,10405,7887.0,27352.0,0.0,130.0

In [91]:
problem_stops_1 = problem_stops[problem_stops['income_level'] == 1] 
problem_stops_1

,dist_code,stop_id,Impacted T,Proportion,REP,rep_dist,Rep Party,route_ids,Stop Name,Town,Town Id,tract_id,Impacted P,Income,income_level,Repdistnum
258,SUFF07,11.0,"010405,010404,010500,080801,080601,080500,0804...","0.69,0.21,0.00,0.20,0.97,1.00,0.99,0.15,0.20,0...",Chynah Tyler (D),7th Suffolk,(D),"19,8,47",Melnea Cass Blvd @ Kerr Way,BOSTON,35.0,80500,6904.0,33295.0,1.0,130.0
3889,SUFF07,1254.0,"010405,010404,010500,010300,981800,080801,0806...","0.86,0.94,0.00,0.04,0.00,0.21,0.77,1.00,0.74,0...",Chynah Tyler (D),7th Suffolk,(D),43,Tremont St @ Burke St,BOSTON,35.0,80601,9049.0,38180.0,1.0,130.0
6354,SUFF07,61391.0,"010405,010404,010408,010500,010300,981800,0809...","0.98,1.00,1.00,0.00,0.43,0.25,0.02,0.78,0.56,0...",Chynah Tyler (D),7th Suffolk,(D),"9,39",Huntington Ave @ Forsyth Way,BOSTON,35.0,10405,9482.0,32356.0,1.0,130.0
6422,SUFF07,81317.0,"010405,010404,010104,010701,010408,010600,0105...","1.00,1.00,0.00,0.00,1.00,0.00,0.01,0.20,0.23,0...",Chynah Tyler (D),7th Suffolk,(D),39,360 Huntington Ave,BOSTON,35.0,10405,9985.0,38278.0,1.0,130.0
6435,SUFF07,41391.0,"010405,010404,010104,010701,010408,010600,0105...","1.00,1.00,0.01,0.01,1.00,0.00,0.01,0.20,0.23,0...",Chynah Tyler (D),7th Suffolk,(D),"9,39",Huntington Ave @ Opera Pl,BOSTON,35.0,10404,10023.0,38490.0,1.0,130.0

In [75]:
problem_tracts = important_info.loc[important_info['tract_id'].isin(duplicated_tracts)]
problem_tracts

,dist_code,stop_id,Impacted T,Proportion,REP,rep_dist,Rep Party,route_ids,Stop Name,Town,Town Id,tract_id,Impacted P,Income,income_level,Repdistnum
146,SUFF08,11391.0,"010405,010404,010801,010702,010802,010104,0107...","0.35,0.91,0.01,0.09,0.98,0.87,1.00,0.34,0.02,0...",Jay D. Livingstone (D),8th Suffolk,(D),55,Boylston St @ Massachusetts Ave,BOSTON,35.0,10500,10031.0,66483.0,2.0,131.0
198,SUFF09,179.0,"010405,010404,010801,010702,010802,010104,0107...","0.07,0.17,0.57,0.80,0.91,0.09,1.00,0.02,0.01,0...",Jon Santiago (D),9th Suffolk,(D),9,Ring Rd @ Huntington Ave,BOSTON,35.0,10600,10541.0,108399.0,2.0,132.0
727,SUFF02,12829.0,"352101,030400,030200,030100,040100,040600,0404...","0.32,0.03,0.21,1.00,0.00,0.00,0.84,0.59,0.00,0...",Daniel Joseph Ryan (D),2nd Suffolk,(D),93,Chelsea St @ Warren St,BOSTON,35.0,40100,4145.0,103886.0,2.0,125.0
744,SUFF02,12836.0,"352101,030400,030200,030100,040100,040600,0404...","0.27,0.04,0.17,0.99,0.00,0.00,0.83,0.48,0.30,0...",Daniel Joseph Ryan (D),2nd Suffolk,(D),93,Chelsea St @ Warren St,BOSTON,35.0,40100,3995.0,103075.0,2.0,125.0
753,SUFF02,28281.0,"352101,030200,030100,040100,040600,040401,0203...","0.39,0.10,0.65,0.00,0.00,0.90,0.56,0.01,0.21,0...",Daniel Joseph Ryan (D),2nd Suffolk,(D),92,Main St @ Park St,BOSTON,35.0,40100,3442.0,104728.0,2.0,125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7313,SUFF09,1399.0,"010405,010404,010801,010702,010802,010104,0107...","0.36,0.78,0.02,0.36,0.68,0.16,1.00,0.02,0.01,0...",Jon Santiago (D),9th Suffolk,(D),"39,55",Belvidere St @ Huntington Ave,BOSTON,35.0,10500,11602.0,89894.0,2.0,132.0
7811,NaN,55011.0,"350104,350103,040600,342400","0.00,0.34,0.00,0.19",NaN,NaN,NaN,"104,109,105",Alford St @ MWRA Pump Station,BOSTON,35.0,40600,413.0,88655.0,2.0,NaN
7813,NaN,5501.0,"350103,040600,342400","0.23,0.00,0.26",NaN,NaN,NaN,"104,109,105",Opp 173 Alford St,BOSTON,35.0,40600,472.0,80495.0,2.0,NaN
7814,NaN,5505.0,"350103,040600,342400","0.23,0.00,0.26",NaN,NaN,NaN,"104,109,105",173 Alford St,BOSTON,35.0,40600,472.0,80495.0,2.0,NaN
7815,NaN,5506.0,"350103,040600,342400","0.07,0.00,0.36",NaN,NaN,NaN,"104,109,105",Broadway @ Dexter St,BOSTON,35.0,40600,557.0,65960.0,2.0,NaN

In [77]:
list(problem_tracts.income_level.unique())

[2.0]

In [55]:
pop_df.dtypes

tract_id             int64
public_transport     int64
walking              int64
other                int64
total_employed       int64
income              object
impacted_pop         int64
dtype: object

In [56]:
important_info.dtypes

dist_code        object
stop_id         float64
Impacted T       object
Proportion       object
REP              object
rep_dist         object
Rep Party        object
route_ids        object
Stop Name        object
Town             object
Town Id         float64
tract_id        float64
Impacted P      float64
Income          float64
income_level    float64
Repdistnum      float64
dtype: object

In [58]:
important_info['tract_id'] = important_info['tract_id'].astype('int64')
important_info.dtypes

<ipython-input-58-58a6ec49881c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  important_info['tract_id'] = important_info['tract_id'].astype('int64')

dist_code        object
stop_id         float64
Impacted T       object
Proportion       object
REP              object
rep_dist         object
Rep Party        object
route_ids        object
Stop Name        object
Town             object
Town Id         float64
tract_id          int64
Impacted P      float64
Income          float64
income_level    float64
Repdistnum      float64
dtype: object

In [59]:
all_info = important_info.merge(pop_df, how='inner', on='tract_id')
all_info

,dist_code,stop_id,Impacted T,Proportion,REP,rep_dist,Rep Party,route_ids,Stop Name,Town,...,Impacted P,Income,income_level,Repdistnum,public_transport,walking,other,total_employed,income,impacted_pop
0,ESS09,7525.0,"208300,208400,208200","0.09,0.02,0.35",Donald H. Wong (R),9th Essex,(R),"429,430",Vine St @ Talbot St,SAUGUS,...,155.0,72990.0,2.0,33.0,229,37,95,2938,69725,361
1,ESS09,6213.0,"208300,208200","0.09,0.42",Donald H. Wong (R),9th Essex,(R),"428,430",329 Central St opp Jasper St,SAUGUS,...,169.0,71265.0,2.0,33.0,229,37,95,2938,69725,361
2,ESS09,6212.0,"208300,208200","0.12,0.36",Donald H. Wong (R),9th Essex,(R),"428,430",Central St @ Columbus Ave,SAUGUS,...,153.0,71908.0,2.0,33.0,229,37,95,2938,69725,361
3,ESS09,7526.0,"208300,208400,208200","0.11,0.02,0.29",Donald H. Wong (R),9th Essex,(R),429,Vine St @ Main St,SAUGUS,...,137.0,73717.0,2.0,33.0,229,37,95,2938,69725,361
4,ESS09,7478.0,"208300,208400,208200","0.12,0.02,0.29",Donald H. Wong (R),9th Essex,(R),428,Main St @ Vine St,SAUGUS,...,139.0,73827.0,2.0,33.0,229,37,95,2938,69725,361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7872,NOR03,38411.0,"417902,417901,418002","0.76,0.48,0.30",Ronald Mariano (D),3rd Norfolk,(D),225,South St @ Arnold St,QUINCY,...,1584.0,63621.0,2.0,99.0,593,140,9,2161,63008,742
7873,NOR03,3830.0,"417902,417901,418002","0.78,0.47,0.30",Ronald Mariano (D),3rd Norfolk,(D),225,South St opp Arnold St,QUINCY,...,1587.0,63677.0,2.0,99.0,593,140,9,2161,63008,742
7874,NOR03,3844.0,"417701,417902,417901,418002","0.15,0.99,0.09,0.45",Ronald Mariano (D),3rd Norfolk,(D),225,South St opp Keating St,QUINCY,...,1698.0,67361.0,2.0,99.0,593,140,9,2161,63008,742
7875,NOR02,3339.0,"418003,418102,418004,418101,418200","0.23,0.78,0.14,0.10,0.05",Tackey Chan (D),2nd Norfolk,(D),215,165 Copeland St,QUINCY,...,743.0,67133.0,2.0,98.0,418,44,80,1978,60833,542
7876,NOR02,23403.0,"418003,418102,418004,418101,418200,417100","0.00,0.89,0.02,0.49,0.03,0.06",Tackey Chan (D),2nd Norfolk,(D),245,270 Quarry St,QUINCY,...,1044.0,67098.0,2.0,98.0,418,44,80,1978,60833,542