# Transit Equity/ Bus Routes (MBTA only)

In [1]:
# imports
import pandas as pd
import geopandas as gpd
import numpy as np
import math
from shapely.ops import nearest_points

## Step 1: Data collection
Read [this report](http://www.wrrb.org/wp-content/uploads/2019/05/WRRB-FareFree-Transit-Report.pdf) to understand the issue. Collect data - create a spreadsheet of all the different bus stops in Massachusetts including MBTA, Regional Transit Authorities, and City/Town buses.

**Make sure datasets --- 'mbtabus/', 'CENSUS2010_BLK_BG_TRCT_SHP/' and 'census.csv' are under './data/'**

In [2]:
def load_census_tract():
    """
    Data description link: https://docs.digital.mass.gov/dataset/massgis-data-datalayers-2010-us-census
    """
    file = gpd.read_file("./data/census_tract/CENSUS2010_BLK_BG_TRCT_SHP/CENSUS2010TRACTS_POLY.shp")
    return file

def load_census_data():
    file = pd.read_csv("./data/census_tract/census/ACSDP5Y2018.DP03_data_with_overlays_2020-11-12T115259.csv")
    return file

In [3]:
census_tract_gdf = load_census_tract()
census_data_df = load_census_data()

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (2,3,4,6,7,10,11,14,15,18,19,22,23,26,27,30,31,32,38,39,40,42,43,46,47,50,51,54,55,56,58,59,62,63,64,66,67,70,71,72,74,75,78,79,82,83,86,87,90,91,94,95,102,103,104,106,107,110,111,114,115,118,119,122,123,126,127,128,130,131,134,135,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,184,186,187,190,191,194,195,198,199,202,203,204,206,207,210,211,214,215,218,219,222,223,226,227,230,231,234,235,238,239,242,243,254,255,262,263,270,271,278,279,286,287,294,295,298,299,300,302,303,306,307,310,311,314,315,318,319,322,323,326,327,330,331,334,335,338,339,354,355,356,378,379,380,382,383,386,387,390,391,394,395,398,399,400,402,403,406,407,408,410,411,412,414,415,416,418,419,422,423,426,427,430,431,434,435,436,438,439,442,443,446,447,450,451,454,455,456,458,459,462,463,466,467,470,471) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [4]:
# Removed functions linking Tract Shapes to Income; instead, link income data in census_data_df with
# shapes in census_tract_gdf

# census_data_df has GEOIDs pre-pended with an arbitrary 9-character US code
# removing those to match on just the GEOID
census_data_df['GEO_ID'] = census_data_df['GEO_ID'].apply(lambda x: x[9:])

In [5]:
census_data_df

,GEO_ID,NAME,DP03_0001E,DP03_0001M,DP03_0001PE,DP03_0001PM,DP03_0002E,DP03_0002M,DP03_0002PE,DP03_0002PM,...,DP03_0135PE,DP03_0135PM,DP03_0136E,DP03_0136M,DP03_0136PE,DP03_0136PM,DP03_0137E,DP03_0137M,DP03_0137PE,DP03_0137PM
0,,Geographic Area Name,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Margin of Error!!EMPLOYMENT STATUS!!Population...,Percent Estimate!!EMPLOYMENT STATUS!!Populatio...,Percent Margin of Error!!EMPLOYMENT STATUS!!Po...,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Margin of Error!!EMPLOYMENT STATUS!!Population...,Percent Estimate!!EMPLOYMENT STATUS!!Populatio...,Percent Margin of Error!!EMPLOYMENT STATUS!!Po...,...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Margin of Error!!PERCENTAGE OF FAMILIES AND PE...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Margin of Error!!PERCENTAGE OF FAMILIES AND PE...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...
1,25001010100,"Census Tract 101, Barnstable County, Massachus...",2829,65,2829,(X),1781,142,63.0,5.0,...,14.9,6.7,(X),(X),3.9,3.3,(X),(X),20.0,6.8
2,25001010206,"Census Tract 102.06, Barnstable County, Massac...",3129,220,3129,(X),1723,198,55.1,6.1,...,8.5,5.4,(X),(X),1.5,1.6,(X),(X),30.0,16.6
3,25001010208,"Census Tract 102.08, Barnstable County, Massac...",1122,224,1122,(X),638,194,56.9,10.3,...,6.9,7.7,(X),(X),3.7,5.8,(X),(X),12.2,11.4
4,25001010304,"Census Tract 103.04, Barnstable County, Massac...",2282,238,2282,(X),1141,214,50.0,7.2,...,3.4,4.4,(X),(X),3.3,2.9,(X),(X),8.8,8.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1474,25027760100,"Census Tract 7601, Worcester County, Massachus...",2840,102,2840,(X),1878,131,66.1,4.7,...,10.2,6.6,(X),(X),7.1,6.9,(X),(X),8.5,5.6
1475,25027761100,"Census Tract 7611, Worcester County, Massachus...",4249,198,4249,(X),2793,286,65.7,6.8,...,6.6,7.2,(X),(X),0.0,0.8,(X),(X),23.6,10.8
1476,25027761200,"Census Tract 7612, Worcester County, Massachus...",4270,295,4270,(X),2648,281,62.0,5.0,...,8.8,7.2,(X),(X),1.6,2.7,(X),(X),16.5,10.0
1477,25027761300,"Census Tract 7613, Worcester County, Massachus...",2738,177,2738,(X),2022,160,73.8,4.3,...,8.4,8.1,(X),(X),2.5,2.8,(X),(X),25.0,10.3
1478,25027761400,"Census Tract 7614, Worcester County, Massachus...",5285,143,5285,(X),2900,286,54.9,5.0,...,1.0,2.1,(X),(X),2.3,2.7,(X),(X),18.4,14.1

In [6]:
census_tract_gdf

,STATEFP10,COUNTYFP10,TRACTCE10,GEOID10,NAME10,NAMELSAD10,MTFCC10,ALAND10,AWATER10,INTPTLAT10,...,AREA_ACRES,POP100_RE,HU100_RE,LOGPL94171,LOGSF1,LOGACS0610,LOGSF1C,SHAPE_AREA,SHAPE_LEN,geometry
0,25,021,418003,25021418003,4180.03,Census Tract 4180.03,G5020,1705668.0,2936.0,+42.2350240,...,422.1740,2481,1350,0141872,123764,0003690,0123764,1.708484e+06,6274.185034,"POLYGON ((240678.759 886748.073, 240607.995 88..."
1,25,021,417701,25021417701,4177.01,Census Tract 4177.01,G5020,1543651.0,12275.0,+42.2523398,...,384.4502,5417,2983,0141838,123730,0003683,0123730,1.555821e+06,6229.137913,"POLYGON ((240969.666 890122.806, 240985.156 89..."
2,25,021,417702,25021417702,4177.02,Census Tract 4177.02,G5020,1685529.0,317947.0,+42.2582818,...,416.4918,2765,1109,0141843,123735,0003684,0123735,1.685489e+06,8542.498286,"POLYGON ((242328.221 890545.050, 242276.888 89..."
3,25,021,418102,25021418102,4181.02,Census Tract 4181.02,G5020,771203.0,2371.0,+42.2470410,...,191.1397,3377,1676,0141882,123774,0003693,0123774,7.735182e+05,4540.296101,"POLYGON ((240372.666 888331.030, 240393.057 88..."
4,25,021,418004,25021418004,4180.04,Census Tract 4180.04,G5020,1316466.0,0.0,+42.2383744,...,325.2812,4280,1987,0141874,123766,0003691,0123766,1.316372e+06,5854.497366,"POLYGON ((240687.299 888298.408, 240700.449 88..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467,25,027,709501,25027709501,7095.01,Census Tract 7095.01,G5020,5484847.0,0.0,+42.5343643,...,1355.2791,2149,809,0189917,171462,0004065,0171462,5.484642e+06,9858.734830,"POLYGON ((182231.394 921599.665, 182405.418 92..."
1468,25,027,709502,25027709502,7095.02,Census Tract 7095.02,G5020,6089034.0,1287.0,+42.5573788,...,1504.8969,5670,2488,0189919,171464,0004066,0171464,6.090126e+06,11906.751110,"POLYGON ((181045.532 923444.745, 181902.923 92..."
1469,25,027,730801,25027730801,7308.01,Census Tract 7308.01,G5020,3158638.0,7980.0,+42.2816214,...,782.4305,3665,1557,0190133,171678,0004114,0171678,3.166396e+06,9559.778037,"POLYGON ((174482.678 891951.535, 174407.978 89..."
1470,25,027,710800,25027710800,7108,Census Tract 7108,G5020,2337125.0,0.0,+42.5913348,...,577.4996,4539,1940,0189967,171512,0004077,0171512,2.337067e+06,9574.497510,"POLYGON ((176303.717 926403.339, 176284.512 92..."
1471,25,027,732600,25027732600,7326,Census Tract 7326,G5020,604374.0,0.0,+42.2467317,...,149.3328,4253,1897,0190246,171791,0004141,0171791,6.043307e+05,3476.741062,"POLYGON ((175670.345 888901.313, 175670.642 88..."

In [7]:
# merged_gdf is the intersection of census_data_df and census_tract_gdf on their GEOID's
# census_tract_gdf (the gdf containing tract geometries) is missing some tracts in census_data_df, but these
# don't have any bus stops in them so we can ignore them

merged_gdf = pd.merge(census_data_df, census_tract_gdf, how='inner', left_on='GEO_ID', right_on='GEOID10')
merged_gdf

,GEO_ID,NAME,DP03_0001E,DP03_0001M,DP03_0001PE,DP03_0001PM,DP03_0002E,DP03_0002M,DP03_0002PE,DP03_0002PM,...,AREA_ACRES,POP100_RE,HU100_RE,LOGPL94171,LOGSF1,LOGACS0610,LOGSF1C,SHAPE_AREA,SHAPE_LEN,geometry
0,25001010100,"Census Tract 101, Barnstable County, Massachus...",2829,65,2829,(X),1781,142,63.0,5.0,...,6327.4075,2942,4494,0015150,13422,0002740,0013422,2.560621e+07,46334.519974,"MULTIPOLYGON (((308489.445 871020.643, 308542...."
1,25001010206,"Census Tract 102.06, Barnstable County, Massac...",3129,220,3129,(X),1723,198,55.1,6.1,...,12989.7775,2750,4305,0015156,13428,0002741,0013428,5.256797e+07,81419.705965,"MULTIPOLYGON (((325461.284 856725.933, 325518...."
2,25001010208,"Census Tract 102.08, Barnstable County, Massac...",1122,224,1122,(X),638,194,56.9,10.3,...,13843.3306,2003,3077,0015160,13432,0002742,0013432,5.602220e+07,48367.069196,"POLYGON ((324602.042 858479.130, 323895.294 85..."
3,25001010304,"Census Tract 103.04, Barnstable County, Massac...",2282,238,2282,(X),1141,214,50.0,7.2,...,4742.8976,2421,2706,0015164,13436,0002743,0013436,1.919390e+07,68689.291139,"MULTIPOLYGON (((328644.258 846623.078, 328660...."
4,25001010306,"Census Tract 103.06, Barnstable County, Massac...",2195,222,2195,(X),1157,200,52.7,7.0,...,4428.3132,2535,3254,0015168,13440,0002744,0013440,1.792082e+07,19147.555020,"POLYGON ((328644.258 846623.078, 328562.662 84..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467,25027760100,"Census Tract 7601, Worcester County, Massachus...",2840,102,2840,(X),1878,131,66.1,4.7,...,10623.8098,3390,1493,0190546,172093,0004213,0172093,4.299320e+07,32625.081217,"POLYGON ((152698.506 887012.714, 152695.388 88..."
1468,25027761100,"Census Tract 7611, Worcester County, Massachus...",4249,198,4249,(X),2793,286,65.7,6.8,...,17694.7230,5135,2211,0190550,172097,0004214,0172097,7.160829e+07,34469.208131,"POLYGON ((146528.911 881420.064, 146720.113 88..."
1469,25027761200,"Census Tract 7612, Worcester County, Massachus...",4270,295,4270,(X),2648,281,62.0,5.0,...,6002.2942,5780,2486,0190555,172102,0004215,0172102,2.429052e+07,25335.083060,"POLYGON ((195918.967 890629.420, 195881.671 89..."
1470,25027761300,"Census Tract 7613, Worcester County, Massachus...",2738,177,2738,(X),2022,160,73.8,4.3,...,2639.3459,3059,1313,0190559,172106,0004216,0172106,1.068110e+07,17545.353232,"POLYGON ((186581.687 888399.211, 186579.944 88..."
1471,25027761400,"Census Tract 7614, Worcester County, Massachus...",5285,143,5285,(X),2900,286,54.9,5.0,...,17387.6150,6520,2047,0190563,172110,0004217,0172110,7.036546e+07,38898.218826,"POLYGON ((196800.685 921391.468, 196807.002 92..."

In [8]:
# clean merged_gdf null/irregular values containing non-numeric characters
# '-' values are NULL
# '2,500-' and '250,000+' represent some lower and upper bound of the data, respectively

merged_gdf['DP03_0062E'] = merged_gdf['DP03_0062E'].replace('-', '-1')
merged_gdf['DP03_0062E'] = merged_gdf['DP03_0062E'].replace('2,500-', '2500')
merged_gdf['DP03_0062E'] = merged_gdf['DP03_0062E'].replace('250,000+', '250000')
merged_gdf[merged_gdf['DP03_0062E'].str.contains('-1')]
merged_gdf

,GEO_ID,NAME,DP03_0001E,DP03_0001M,DP03_0001PE,DP03_0001PM,DP03_0002E,DP03_0002M,DP03_0002PE,DP03_0002PM,...,AREA_ACRES,POP100_RE,HU100_RE,LOGPL94171,LOGSF1,LOGACS0610,LOGSF1C,SHAPE_AREA,SHAPE_LEN,geometry
0,25001010100,"Census Tract 101, Barnstable County, Massachus...",2829,65,2829,(X),1781,142,63.0,5.0,...,6327.4075,2942,4494,0015150,13422,0002740,0013422,2.560621e+07,46334.519974,"MULTIPOLYGON (((308489.445 871020.643, 308542...."
1,25001010206,"Census Tract 102.06, Barnstable County, Massac...",3129,220,3129,(X),1723,198,55.1,6.1,...,12989.7775,2750,4305,0015156,13428,0002741,0013428,5.256797e+07,81419.705965,"MULTIPOLYGON (((325461.284 856725.933, 325518...."
2,25001010208,"Census Tract 102.08, Barnstable County, Massac...",1122,224,1122,(X),638,194,56.9,10.3,...,13843.3306,2003,3077,0015160,13432,0002742,0013432,5.602220e+07,48367.069196,"POLYGON ((324602.042 858479.130, 323895.294 85..."
3,25001010304,"Census Tract 103.04, Barnstable County, Massac...",2282,238,2282,(X),1141,214,50.0,7.2,...,4742.8976,2421,2706,0015164,13436,0002743,0013436,1.919390e+07,68689.291139,"MULTIPOLYGON (((328644.258 846623.078, 328660...."
4,25001010306,"Census Tract 103.06, Barnstable County, Massac...",2195,222,2195,(X),1157,200,52.7,7.0,...,4428.3132,2535,3254,0015168,13440,0002744,0013440,1.792082e+07,19147.555020,"POLYGON ((328644.258 846623.078, 328562.662 84..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467,25027760100,"Census Tract 7601, Worcester County, Massachus...",2840,102,2840,(X),1878,131,66.1,4.7,...,10623.8098,3390,1493,0190546,172093,0004213,0172093,4.299320e+07,32625.081217,"POLYGON ((152698.506 887012.714, 152695.388 88..."
1468,25027761100,"Census Tract 7611, Worcester County, Massachus...",4249,198,4249,(X),2793,286,65.7,6.8,...,17694.7230,5135,2211,0190550,172097,0004214,0172097,7.160829e+07,34469.208131,"POLYGON ((146528.911 881420.064, 146720.113 88..."
1469,25027761200,"Census Tract 7612, Worcester County, Massachus...",4270,295,4270,(X),2648,281,62.0,5.0,...,6002.2942,5780,2486,0190555,172102,0004215,0172102,2.429052e+07,25335.083060,"POLYGON ((195918.967 890629.420, 195881.671 89..."
1470,25027761300,"Census Tract 7613, Worcester County, Massachus...",2738,177,2738,(X),2022,160,73.8,4.3,...,2639.3459,3059,1313,0190559,172106,0004216,0172106,1.068110e+07,17545.353232,"POLYGON ((186581.687 888399.211, 186579.944 88..."
1471,25027761400,"Census Tract 7614, Worcester County, Massachus...",5285,143,5285,(X),2900,286,54.9,5.0,...,17387.6150,6520,2047,0190563,172110,0004217,0172110,7.036546e+07,38898.218826,"POLYGON ((196800.685 921391.468, 196807.002 92..."

In [9]:
gdf = gpd.GeoDataFrame(merged_gdf, geometry='geometry')
gdf.to_file('./output/merged_gdf/merged_gdf.shp', driver='ESRI Shapefile')

## Step 2 - 5: Identify which bus routes, stops, or zones would have the most positive effect on low income riders if free. Identify which towns would be impacted?
1. Draw a 0.5 mile radius circle around each stop, store as a column
2. Calculate percentage of the interception between the circle and tracts
3. Calculate weighed median income for people that the stop impacts
4. Calculate weighed number of people impacted by each stop

In [10]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Polygon, Point

### 0. Data loading & Preprocessing

In [11]:
# gdf_tract_geo = gpd.read_file('./data/census_tract/tl_2019_25_tract/tl_2019_25_tract.shp')
# gdf_tract_geo.head()
gdf_tract_geo = gpd.read_file('./data/census_tract/CENSUS2010_BLK_BG_TRCT_SHP/CENSUS2010TRACTS_POLY.shp')
gdf_tract_geo.head()

,STATEFP10,COUNTYFP10,TRACTCE10,GEOID10,NAME10,NAMELSAD10,MTFCC10,ALAND10,AWATER10,INTPTLAT10,...,AREA_ACRES,POP100_RE,HU100_RE,LOGPL94171,LOGSF1,LOGACS0610,LOGSF1C,SHAPE_AREA,SHAPE_LEN,geometry
0,25,021,418003,25021418003,4180.03,Census Tract 4180.03,G5020,1705668.0,2936.0,+42.2350240,...,422.1740,2481,1350,0141872,123764,0003690,0123764,1.708484e+06,6274.185034,"POLYGON ((240678.759 886748.073, 240607.995 88..."
1,25,021,417701,25021417701,4177.01,Census Tract 4177.01,G5020,1543651.0,12275.0,+42.2523398,...,384.4502,5417,2983,0141838,123730,0003683,0123730,1.555821e+06,6229.137913,"POLYGON ((240969.666 890122.806, 240985.156 89..."
2,25,021,417702,25021417702,4177.02,Census Tract 4177.02,G5020,1685529.0,317947.0,+42.2582818,...,416.4918,2765,1109,0141843,123735,0003684,0123735,1.685489e+06,8542.498286,"POLYGON ((242328.221 890545.050, 242276.888 89..."
3,25,021,418102,25021418102,4181.02,Census Tract 4181.02,G5020,771203.0,2371.0,+42.2470410,...,191.1397,3377,1676,0141882,123774,0003693,0123774,7.735182e+05,4540.296101,"POLYGON ((240372.666 888331.030, 240393.057 88..."
4,25,021,418004,25021418004,4180.04,Census Tract 4180.04,G5020,1316466.0,0.0,+42.2383744,...,325.2812,4280,1987,0141874,123766,0003691,0123766,1.316372e+06,5854.497366,"POLYGON ((240687.299 888298.408, 240700.449 88..."

In [12]:
# load stop info
gdf_stop = gpd.read_file('./data/stops_routes/mbtabus/MBTABUSSTOPS_PT.shp')
gdf_stop.head()

,STOP_ID,STOP_NAME,TOWN,TOWN_ID,geometry
0,3077,Gallivan Blvd @ opp Marsh St,BOSTON,35,POINT (237120.669 892643.408)
1,841,Lagrange St @ Virgil Rd,BOSTON,35,POINT (227915.195 892644.017)
2,446,Norfolk St @ Nelson St,BOSTON,35,POINT (234385.661 892644.944)
3,847,Lagrange St opp Virgil St,BOSTON,35,POINT (227912.601 892650.156)
4,3079,Adams St @ Minot St,BOSTON,35,POINT (236644.812 892651.990)

### 1. Draw a 0.5 mile radius circle around each stop, store as a column

In [13]:
# This shows the units. Specifically, units are in meters.
gdf_tract_geo.crs

<Projected CRS: EPSG:26986>
Name: NAD83 / Massachusetts Mainland
Axis Info [cartesian]:
- X[east]: Easting (metre)
- Y[north]: Northing (metre)
Area of Use:
- name: USA - Massachusetts - SPCS - mainland
- bounds: (-73.5, 41.46, -69.86, 42.89)
Coordinate Operation:
- name: SPCS83 Massachusetts Mainland zone (meters)
- method: Lambert Conic Conformal (2SP)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [14]:
def mile2meter(mile):
    conversion_factor = 0.62137119
    return mile / conversion_factor * 1000

def computeArea(radius):
    from math import pi
    return pi * radius * radius

In [15]:
gdf_stop_circle = gpd.GeoDataFrame()
gdf_stop_circle[['STOP_ID', 'TOWN', 'STOP_NAME']] = gdf_stop[['STOP_ID', 'TOWN', 'STOP_NAME']]

radius = mile2meter(0.5)
gdf_stop_circle['geometry'] = gdf_stop['geometry'].buffer(radius)
gdf_stop_circle = gdf_stop_circle.set_crs('EPSG:26986')
gdf_stop_circle = gdf_stop_circle.set_geometry('geometry')
gdf_stop_circle.to_file('./output/radius.shp', driver='ESRI Shapefile')

gdf_stop_circle.head()

,STOP_ID,TOWN,STOP_NAME,geometry
0,3077,BOSTON,Gallivan Blvd @ opp Marsh St,"POLYGON ((237925.341 892643.408, 237921.466 89..."
1,841,BOSTON,Lagrange St @ Virgil Rd,"POLYGON ((228719.867 892644.017, 228715.993 89..."
2,446,BOSTON,Norfolk St @ Nelson St,"POLYGON ((235190.333 892644.944, 235186.458 89..."
3,847,BOSTON,Lagrange St opp Virgil St,"POLYGON ((228717.273 892650.156, 228713.398 89..."
4,3079,BOSTON,Adams St @ Minot St,"POLYGON ((237449.484 892651.990, 237445.610 89..."

### 2. Calculate percentage of the interception between the circle and tracts
- Find overlapping tracts
- Calculate overlapping area
- Calculate proportion
    - for median income, $proportion_{ij}=\frac{overlapping\_area_{ij}}{area_{circle}}$ for tract $i$ intercepted with circle around stop $j$.
    - for population, $proportion_{ij}=\frac{overlapping\_area_{ij}}{area_{j}}$ for tract $i$ intercepted with circle around stop $j$.

In [16]:
circle_area = computeArea(mile2meter(0.5))
circle_area

2034171.9197277634

In [17]:
import warnings
# ignore warnings
warnings.filterwarnings(action='ignore')

# Changed all references from TRACTCE10 to GEOID10
gdf_stop_circle['impacted_geoid'] = ""
gdf_stop_circle['proportion_2tract'] = ""
gdf_stop_circle['proportion_2circle'] = ""
for idx, row in gdf_stop_circle.iterrows():
    # tract_ids for overlapping
    overlaps = gdf_tract_geo[gdf_tract_geo['geometry'].overlaps(row['geometry'])|gdf_tract_geo['geometry'].covers(row['geometry'])|gdf_tract_geo['geometry'].within(row['geometry'])]['GEOID10'].tolist()
    # area for each overlapping
    proportion_2tract = []
    proportion_2circle = []
    for y in overlaps:
        tract_area = sum(gdf_tract_geo.loc[gdf_tract_geo['GEOID10']==y,]['SHAPE_AREA'].tolist())
        gpd_interceptions = gpd.overlay(gdf_tract_geo.loc[gdf_tract_geo.GEOID10==y,], gdf_stop_circle.loc[gdf_stop_circle.STOP_ID==row.STOP_ID,], how='intersection')
        area = sum([row.geometry.area for idx, row in gpd_interceptions.iterrows()])
        proportion_2tract.append(float(area/tract_area))
        proportion_2circle.append(float(area/circle_area))
    
    # raise error if no tracts 
    if len(overlaps)==0: 
        raise ValueError()
    
    # add columns
    gdf_stop_circle.at[idx, 'impacted_geoid'] = ','.join(overlaps)
    gdf_stop_circle.at[idx, 'proportion_2tract'] = ','.join(["{:.2f}".format(x) for x in proportion_2tract])
    gdf_stop_circle.at[idx, 'proportion_2circle'] = ','.join(["{:.2f}".format(x) for x in proportion_2circle])
gdf_stop_circle

,STOP_ID,TOWN,STOP_NAME,geometry,impacted_geoid,proportion_2tract,proportion_2circle
0,3077,BOSTON,Gallivan Blvd @ opp Marsh St,"POLYGON ((237925.341 892643.408, 237921.466 89...","25021416400,25025100800,25025100601,2502510070...","0.01,0.17,0.13,0.99,0.29","0.03,0.15,0.04,0.59,0.13"
1,841,BOSTON,Lagrange St @ Virgil Rd,"POLYGON ((228719.867 892644.017, 228715.993 89...","25025130402,25025130300,25025130200,2502513010...","0.08,0.26,0.63,0.13,0.02","0.09,0.19,0.42,0.28,0.02"
2,446,BOSTON,Norfolk St @ Nelson St,"POLYGON ((235190.333 892644.944, 235186.458 89...","25025100500,25025100400,25025100300,2502510110...","0.17,0.18,1.00,0.41,0.06,0.24,0.02,1.00,0.37","0.07,0.06,0.24,0.11,0.01,0.14,0.01,0.17,0.19"
3,847,BOSTON,Lagrange St opp Virgil St,"POLYGON ((228717.273 892650.156, 228713.398 89...","25025130402,25025130300,25025130200,2502513010...","0.08,0.26,0.63,0.13,0.02","0.09,0.19,0.42,0.29,0.02"
4,3079,BOSTON,Adams St @ Minot St,"POLYGON ((237449.484 892651.990, 237445.610 89...","25021416400,25025100800,25025100601,2502510050...","0.00,0.51,0.32,0.01,0.03,0.67,0.06","0.01,0.44,0.09,0.00,0.01,0.40,0.03"
...,...,...,...,...,...,...,...
7805,9097,MELROSE,Grove St @ Lebanon St,"POLYGON ((237034.053 911541.866, 237030.178 91...","25017336402,25017336401,25017336300,2501733620...","0.17,0.18,0.26,0.11,0.01","0.10,0.22,0.53,0.14,0.01"
7806,5911,MELROSE,Grove St @ Lebanon St,"POLYGON ((237040.708 911542.538, 237036.833 91...","25017336402,25017336401,25017336300,2501733620...","0.17,0.17,0.27,0.12,0.01","0.09,0.21,0.54,0.14,0.01"
7807,5975,MELROSE,Wyoming Ave opp Cleveland St,"POLYGON ((235782.059 911544.999, 235778.185 91...","25017337102,25017336402,25017336401,2501733630...","0.05,0.93,0.20,0.00,0.08","0.15,0.52,0.24,0.01,0.08"
7808,15976,MELROSE,Wyoming Ave @ Cleveland St,"POLYGON ((235775.770 911547.184, 235771.896 91...","25017337102,25017336402,25017336401,2501733630...","0.05,0.93,0.20,0.00,0.08","0.16,0.52,0.24,0.01,0.08"
7809,5912,MELROSE,Grove St @ Faxon St,"POLYGON ((237261.641 911577.351, 237257.766 91...","25017336402,25017336401,25017336300,2501733620...","0.05,0.10,0.33,0.14,0.00","0.03,0.12,0.67,0.17,0.00"

In [18]:
gdf_stop_circle.to_csv('./output/stop_radius.csv', index_label=False)

## 3. Calculate weighed median income for people that the stop impacts

In [19]:
df_income_tract = gpd.read_file('./output/merged_gdf/merged_gdf.shp')
df_income_tract.head()

,GEO_ID,NAME,DP03_0001E,DP03_0001M,DP03_0001P,DP03_000_1,DP03_0002E,DP03_0002M,DP03_0002P,DP03_000_2,...,AREA_ACRES,POP100_RE,HU100_RE,LOGPL94171,LOGSF1,LOGACS0610,LOGSF1C,SHAPE_AREA,SHAPE_LEN,geometry
0,25001010100,"Census Tract 101, Barnstable County, Massachus...",2829,65,2829,(X),1781,142,63.0,5.0,...,6327.4075,2942,4494,0015150,13422,0002740,0013422,2.560621e+07,46334.519974,"MULTIPOLYGON (((308489.445 871020.643, 308542...."
1,25001010206,"Census Tract 102.06, Barnstable County, Massac...",3129,220,3129,(X),1723,198,55.1,6.1,...,12989.7775,2750,4305,0015156,13428,0002741,0013428,5.256797e+07,81419.705965,"MULTIPOLYGON (((325461.284 856725.933, 325518...."
2,25001010208,"Census Tract 102.08, Barnstable County, Massac...",1122,224,1122,(X),638,194,56.9,10.3,...,13843.3306,2003,3077,0015160,13432,0002742,0013432,5.602220e+07,48367.069196,"POLYGON ((324602.042 858479.130, 323895.294 85..."
3,25001010304,"Census Tract 103.04, Barnstable County, Massac...",2282,238,2282,(X),1141,214,50.0,7.2,...,4742.8976,2421,2706,0015164,13436,0002743,0013436,1.919390e+07,68689.291139,"MULTIPOLYGON (((328644.258 846623.078, 328660...."
4,25001010306,"Census Tract 103.06, Barnstable County, Massac...",2195,222,2195,(X),1157,200,52.7,7.0,...,4428.3132,2535,3254,0015168,13440,0002744,0013440,1.792082e+07,19147.555020,"POLYGON ((328644.258 846623.078, 328562.662 84..."

In [20]:
df_stop_circle = pd.read_csv('./output/stop_radius.csv')
df_stop_circle.head()

,STOP_ID,TOWN,STOP_NAME,geometry,impacted_geoid,proportion_2tract,proportion_2circle
0,3077,BOSTON,Gallivan Blvd @ opp Marsh St,"POLYGON ((237925.3409028954 892643.4076999985,...","25021416400,25025100800,25025100601,2502510070...","0.01,0.17,0.13,0.99,0.29","0.03,0.15,0.04,0.59,0.13"
1,841,BOSTON,Lagrange St @ Virgil Rd,"POLYGON ((228719.867402897 892644.0174999982, ...","25025130402,25025130300,25025130200,2502513010...","0.08,0.26,0.63,0.13,0.02","0.09,0.19,0.42,0.28,0.02"
2,446,BOSTON,Norfolk St @ Nelson St,"POLYGON ((235190.3329028941 892644.9441, 23518...","25025100500,25025100400,25025100300,2502510110...","0.17,0.18,1.00,0.41,0.06,0.24,0.02,1.00,0.37","0.07,0.06,0.24,0.11,0.01,0.14,0.01,0.17,0.19"
3,847,BOSTON,Lagrange St opp Virgil St,"POLYGON ((228717.2732028968 892650.1563000008,...","25025130402,25025130300,25025130200,2502513010...","0.08,0.26,0.63,0.13,0.02","0.09,0.19,0.42,0.29,0.02"
4,3079,BOSTON,Adams St @ Minot St,"POLYGON ((237449.4844028956 892651.9899999984,...","25021416400,25025100800,25025100601,2502510050...","0.00,0.51,0.32,0.01,0.03,0.67,0.06","0.01,0.44,0.09,0.00,0.01,0.40,0.03"

In [21]:
# again, changed references from TRACTCE10 to GEO_ID
df_stop_circle['income'] = -1
for idx, row in df_stop_circle.iterrows():
    tracts = str(row['impacted_geoid']).split(',')
    proportions = list(map(float, str(row['proportion_2circle']).split(',')))
    incomes = []
    for i in range(len(tracts)):
        tract = tracts[i]
        income = int(df_income_tract[df_income_tract['GEO_ID']==tract].DP03_0062E.values[0])
        if income<0:
            incomes.append(0)
            proportions[i]==0
        else:
            incomes.append(income)
    
    assert len(tracts)==len(incomes)==len(proportions)
    weighed_income = (sum([incomes[i]*proportions[i] for i in range(len(tracts))]))/sum(proportions)

    df_stop_circle.at[idx, 'income'] = weighed_income
df_stop_circle

,STOP_ID,TOWN,STOP_NAME,geometry,impacted_geoid,proportion_2tract,proportion_2circle,income
0,3077,BOSTON,Gallivan Blvd @ opp Marsh St,"POLYGON ((237925.3409028954 892643.4076999985,...","25021416400,25025100800,25025100601,2502510070...","0.01,0.17,0.13,0.99,0.29","0.03,0.15,0.04,0.59,0.13",88129
1,841,BOSTON,Lagrange St @ Virgil Rd,"POLYGON ((228719.867402897 892644.0174999982, ...","25025130402,25025130300,25025130200,2502513010...","0.08,0.26,0.63,0.13,0.02","0.09,0.19,0.42,0.28,0.02",105528
2,446,BOSTON,Norfolk St @ Nelson St,"POLYGON ((235190.3329028941 892644.9441, 23518...","25025100500,25025100400,25025100300,2502510110...","0.17,0.18,1.00,0.41,0.06,0.24,0.02,1.00,0.37","0.07,0.06,0.24,0.11,0.01,0.14,0.01,0.17,0.19",44993
3,847,BOSTON,Lagrange St opp Virgil St,"POLYGON ((228717.2732028968 892650.1563000008,...","25025130402,25025130300,25025130200,2502513010...","0.08,0.26,0.63,0.13,0.02","0.09,0.19,0.42,0.29,0.02",105521
4,3079,BOSTON,Adams St @ Minot St,"POLYGON ((237449.4844028956 892651.9899999984,...","25021416400,25025100800,25025100601,2502510050...","0.00,0.51,0.32,0.01,0.03,0.67,0.06","0.01,0.44,0.09,0.00,0.01,0.40,0.03",86335
...,...,...,...,...,...,...,...,...
7805,9097,MELROSE,Grove St @ Lebanon St,"POLYGON ((237034.0528028987 911541.8663000017,...","25017336402,25017336401,25017336300,2501733620...","0.17,0.18,0.26,0.11,0.01","0.10,0.22,0.53,0.14,0.01",106570
7806,5911,MELROSE,Grove St @ Lebanon St,"POLYGON ((237040.7078028999 911542.5381000005,...","25017336402,25017336401,25017336300,2501733620...","0.17,0.17,0.27,0.12,0.01","0.09,0.21,0.54,0.14,0.01",107356
7807,5975,MELROSE,Wyoming Ave opp Cleveland St,"POLYGON ((235782.0594028986 911544.9987000003,...","25017337102,25017336402,25017336401,2501733630...","0.05,0.93,0.20,0.00,0.08","0.15,0.52,0.24,0.01,0.08",82977
7808,15976,MELROSE,Wyoming Ave @ Cleveland St,"POLYGON ((235775.7703028999 911547.1840000004,...","25017337102,25017336402,25017336401,2501733630...","0.05,0.93,0.20,0.00,0.08","0.16,0.52,0.24,0.01,0.08",83146
7809,5912,MELROSE,Grove St @ Faxon St,"POLYGON ((237261.6409028999 911577.3509999998,...","25017336402,25017336401,25017336300,2501733620...","0.05,0.10,0.33,0.14,0.00","0.03,0.12,0.67,0.17,0.00",114942

Here we use the income group standard according to [Pew Research](http://www.pewsocialtrends.org/2015/12/09/the-american-middle-class-is-losing-ground/), which shows as follows:

| LEVEL | INCOME GROUP | INCOME/\$ |
| :- | :- | -: |
| 0 | Lowest income | 31,000 or less|
| 1 | Lower-middle income | 31,000 - 42,000 |
| 2 | Middle-income | 42,000 - 126,000 |
| 3 | Upper-middle income | 126,000 - 188,000 |
| 4 | Higher-income | 188,000 or more |

In [22]:
# assign income level for each stop
income_level = []
incomes = df_stop_circle['income']
for income in incomes:
    if income<=0:
        income_level.append(-1)
    elif 0 < income < 31000:
        income_level.append(0)
    elif 31000 <= income < 42000:
        income_level.append(1)
    elif 42000 <= income < 126000:
        income_level.append(2)
    elif 126000 <= income < 188000:
        income_level.append(3)
    elif 188000 <= income:
        income_level.append(4)
df_stop_circle['income_level'] = income_level

In [23]:
df_stop_circle.to_csv('./output/stop_with_weighed_level.csv', index_label=False)

## 4. Calculate weighed number of people impacted by each stop

**Using only the columns of interest**

- DP03_0021E = Workers 16 and over commuting to work via public transportation  
- DP03_0022E = Workers 16 and over commuting to work via walking  
- DP03_0023E = Workers 16 and over commuting to work via other means (not car)

In [24]:
columns = ['GEO_ID','DP03_0021E','DP03_0022E','DP03_0023E']
df_tract_pop = df_income_tract[columns].astype(int)

df_tract_pop

           GEO_ID  DP03_0021E  DP03_0022E  DP03_0023E
0     25001010100          34         391         208
1     25001010206          26          86          57
2     25001010208           0           1           8
3     25001010304          18           0          12
4     25001010306           0          67          41
...           ...         ...         ...         ...
1467  25027760100           2          15          10
1468  25027761100           0          24           0
1469  25027761200         142          32          38
1470  25027761300          33          10          78
1471  25027761400         172          51           7

[1472 rows x 4 columns]

In [25]:
df_tract_pop.dtypes

GEO_ID        int64
DP03_0021E    int64
DP03_0022E    int64
DP03_0023E    int64
dtype: object

**Calculating impacted population**  
Impacted population = the population of workers that use something other than a car to commute to work

In [26]:
df_tract_pop['impacted_pop'] = df_tract_pop.apply(lambda x: x['DP03_0021E'] + x['DP03_0022E'] + x['DP03_0023E'], axis=1)
# renaming columns
df_tract_pop.rename(columns={'DP03_0021E': 'public_transport', 'DP03_0022E': 'walking', 'DP03_0023E':'other'}, inplace=True)
df_tract_pop

           GEO_ID  public_transport  walking  other  impacted_pop
0     25001010100                34      391    208           633
1     25001010206                26       86     57           169
2     25001010208                 0        1      8             9
3     25001010304                18        0     12            30
4     25001010306                 0       67     41           108
...           ...               ...      ...    ...           ...
1467  25027760100                 2       15     10            27
1468  25027761100                 0       24      0            24
1469  25027761200               142       32     38           212
1470  25027761300                33       10     78           121
1471  25027761400               172       51      7           230

[1472 rows x 5 columns]

In [27]:
df_stop_circle = pd.read_csv('./output/stop_with_weighed_level.csv')
df_stop_circle.head()

,STOP_ID,TOWN,STOP_NAME,geometry,impacted_geoid,proportion_2tract,proportion_2circle,income,income_level
0,3077,BOSTON,Gallivan Blvd @ opp Marsh St,"POLYGON ((237925.3409028954 892643.4076999985,...","25021416400,25025100800,25025100601,2502510070...","0.01,0.17,0.13,0.99,0.29","0.03,0.15,0.04,0.59,0.13",88129,2
1,841,BOSTON,Lagrange St @ Virgil Rd,"POLYGON ((228719.867402897 892644.0174999982, ...","25025130402,25025130300,25025130200,2502513010...","0.08,0.26,0.63,0.13,0.02","0.09,0.19,0.42,0.28,0.02",105528,2
2,446,BOSTON,Norfolk St @ Nelson St,"POLYGON ((235190.3329028941 892644.9441, 23518...","25025100500,25025100400,25025100300,2502510110...","0.17,0.18,1.00,0.41,0.06,0.24,0.02,1.00,0.37","0.07,0.06,0.24,0.11,0.01,0.14,0.01,0.17,0.19",44993,2
3,847,BOSTON,Lagrange St opp Virgil St,"POLYGON ((228717.2732028968 892650.1563000008,...","25025130402,25025130300,25025130200,2502513010...","0.08,0.26,0.63,0.13,0.02","0.09,0.19,0.42,0.29,0.02",105521,2
4,3079,BOSTON,Adams St @ Minot St,"POLYGON ((237449.4844028956 892651.9899999984,...","25021416400,25025100800,25025100601,2502510050...","0.00,0.51,0.32,0.01,0.03,0.67,0.06","0.01,0.44,0.09,0.00,0.01,0.40,0.03",86335,2

In [28]:
# changed references from Tract ID to GEO_ID
# also adjusted dataset used to create df_tract_pop to use GEO_ID instead of Tract ID
df_stop_circle['impacted_pop'] = 0
for idx, row in df_stop_circle.iterrows():
    tracts = str(row['impacted_geoid']).split(',')
    proportions = list(map(float, str(row['proportion_2tract']).split(',')))
    impacted_pops = []
    for tract in tracts:
        impacted_pop = int(df_tract_pop[df_tract_pop.GEO_ID==int(tract)].impacted_pop.values[0])
        impacted_pops.append(impacted_pop)
    weighed_pop = sum([impacted_pops[i]*proportions[i] for i in range(len(tracts))])

    df_stop_circle.at[idx, 'impacted_pop'] = weighed_pop
df_stop_circle

,STOP_ID,TOWN,STOP_NAME,geometry,impacted_geoid,proportion_2tract,proportion_2circle,income,income_level,impacted_pop
0,3077,BOSTON,Gallivan Blvd @ opp Marsh St,"POLYGON ((237925.3409028954 892643.4076999985,...","25021416400,25025100800,25025100601,2502510070...","0.01,0.17,0.13,0.99,0.29","0.03,0.15,0.04,0.59,0.13",88129,2,1046
1,841,BOSTON,Lagrange St @ Virgil Rd,"POLYGON ((228719.867402897 892644.0174999982, ...","25025130402,25025130300,25025130200,2502513010...","0.08,0.26,0.63,0.13,0.02","0.09,0.19,0.42,0.28,0.02",105528,2,632
2,446,BOSTON,Norfolk St @ Nelson St,"POLYGON ((235190.3329028941 892644.9441, 23518...","25025100500,25025100400,25025100300,2502510110...","0.17,0.18,1.00,0.41,0.06,0.24,0.02,1.00,0.37","0.07,0.06,0.24,0.11,0.01,0.14,0.01,0.17,0.19",44993,2,3056
3,847,BOSTON,Lagrange St opp Virgil St,"POLYGON ((228717.2732028968 892650.1563000008,...","25025130402,25025130300,25025130200,2502513010...","0.08,0.26,0.63,0.13,0.02","0.09,0.19,0.42,0.29,0.02",105521,2,632
4,3079,BOSTON,Adams St @ Minot St,"POLYGON ((237449.4844028956 892651.9899999984,...","25021416400,25025100800,25025100601,2502510050...","0.00,0.51,0.32,0.01,0.03,0.67,0.06","0.01,0.44,0.09,0.00,0.01,0.40,0.03",86335,2,1647
...,...,...,...,...,...,...,...,...,...,...
7805,9097,MELROSE,Grove St @ Lebanon St,"POLYGON ((237034.0528028987 911541.8663000017,...","25017336402,25017336401,25017336300,2501733620...","0.17,0.18,0.26,0.11,0.01","0.10,0.22,0.53,0.14,0.01",106570,2,639
7806,5911,MELROSE,Grove St @ Lebanon St,"POLYGON ((237040.7078028999 911542.5381000005,...","25017336402,25017336401,25017336300,2501733620...","0.17,0.17,0.27,0.12,0.01","0.09,0.21,0.54,0.14,0.01",107356,2,644
7807,5975,MELROSE,Wyoming Ave opp Cleveland St,"POLYGON ((235782.0594028986 911544.9987000003,...","25017337102,25017336402,25017336401,2501733630...","0.05,0.93,0.20,0.00,0.08","0.15,0.52,0.24,0.01,0.08",82977,2,1204
7808,15976,MELROSE,Wyoming Ave @ Cleveland St,"POLYGON ((235775.7703028999 911547.1840000004,...","25017337102,25017336402,25017336401,2501733630...","0.05,0.93,0.20,0.00,0.08","0.16,0.52,0.24,0.01,0.08",83146,2,1204
7809,5912,MELROSE,Grove St @ Faxon St,"POLYGON ((237261.6409028999 911577.3509999998,...","25017336402,25017336401,25017336300,2501733620...","0.05,0.10,0.33,0.14,0.00","0.03,0.12,0.67,0.17,0.00",114942,2,508

### Save to file

In [29]:
gdf_stop = gpd.read_file('./data/stops_routes/mbtabus/MBTABUSSTOPS_PT.shp')

# dropping radius' geometry column
df_stop_circle = df_stop_circle.rename(columns={'geometry': 'circle'})
df_stop_circle['geometry'] = gdf_stop['geometry']
df_stop_circle.drop(columns='circle', inplace=True)

df_stop_circle.head()

,STOP_ID,TOWN,STOP_NAME,impacted_geoid,proportion_2tract,proportion_2circle,income,income_level,impacted_pop,geometry
0,3077,BOSTON,Gallivan Blvd @ opp Marsh St,"25021416400,25025100800,25025100601,2502510070...","0.01,0.17,0.13,0.99,0.29","0.03,0.15,0.04,0.59,0.13",88129,2,1046,POINT (237120.669 892643.408)
1,841,BOSTON,Lagrange St @ Virgil Rd,"25025130402,25025130300,25025130200,2502513010...","0.08,0.26,0.63,0.13,0.02","0.09,0.19,0.42,0.28,0.02",105528,2,632,POINT (227915.195 892644.017)
2,446,BOSTON,Norfolk St @ Nelson St,"25025100500,25025100400,25025100300,2502510110...","0.17,0.18,1.00,0.41,0.06,0.24,0.02,1.00,0.37","0.07,0.06,0.24,0.11,0.01,0.14,0.01,0.17,0.19",44993,2,3056,POINT (234385.661 892644.944)
3,847,BOSTON,Lagrange St opp Virgil St,"25025130402,25025130300,25025130200,2502513010...","0.08,0.26,0.63,0.13,0.02","0.09,0.19,0.42,0.29,0.02",105521,2,632,POINT (227912.601 892650.156)
4,3079,BOSTON,Adams St @ Minot St,"25021416400,25025100800,25025100601,2502510050...","0.00,0.51,0.32,0.01,0.03,0.67,0.06","0.01,0.44,0.09,0.00,0.01,0.40,0.03",86335,2,1647,POINT (236644.812 892651.990)

In [30]:
# save as shapefile
gdf = gpd.GeoDataFrame(df_stop_circle, geometry='geometry')
gdf.to_file('./output/stops/stops.shp', driver='ESRI Shapefile')

# Connect routes for each stop

In [31]:
import pandas as pd
import geopandas as gpd

In [34]:
#stops_df = pd.read_csv('./output/stops_with_incomeLevel.csv')
stops_df = gpd.read_file('./output/stops/stops.shp')
stops_df

,STOP_ID,TOWN,STOP_NAME,impacted_g,proportion,proporti_1,income,income_lev,impacted_p,geometry
0,3077,BOSTON,Gallivan Blvd @ opp Marsh St,"25021416400,25025100800,25025100601,2502510070...","0.01,0.17,0.13,0.99,0.29","0.03,0.15,0.04,0.59,0.13",88129,2,1046,POINT (237120.669 892643.408)
1,841,BOSTON,Lagrange St @ Virgil Rd,"25025130402,25025130300,25025130200,2502513010...","0.08,0.26,0.63,0.13,0.02","0.09,0.19,0.42,0.28,0.02",105528,2,632,POINT (227915.195 892644.017)
2,446,BOSTON,Norfolk St @ Nelson St,"25025100500,25025100400,25025100300,2502510110...","0.17,0.18,1.00,0.41,0.06,0.24,0.02,1.00,0.37","0.07,0.06,0.24,0.11,0.01,0.14,0.01,0.17,0.19",44993,2,3056,POINT (234385.661 892644.944)
3,847,BOSTON,Lagrange St opp Virgil St,"25025130402,25025130300,25025130200,2502513010...","0.08,0.26,0.63,0.13,0.02","0.09,0.19,0.42,0.29,0.02",105521,2,632,POINT (227912.601 892650.156)
4,3079,BOSTON,Adams St @ Minot St,"25021416400,25025100800,25025100601,2502510050...","0.00,0.51,0.32,0.01,0.03,0.67,0.06","0.01,0.44,0.09,0.00,0.01,0.40,0.03",86335,2,1647,POINT (236644.812 892651.990)
...,...,...,...,...,...,...,...,...,...,...
7805,9097,MELROSE,Grove St @ Lebanon St,"25017336402,25017336401,25017336300,2501733620...","0.17,0.18,0.26,0.11,0.01","0.10,0.22,0.53,0.14,0.01",106570,2,639,POINT (236229.381 911541.866)
7806,5911,MELROSE,Grove St @ Lebanon St,"25017336402,25017336401,25017336300,2501733620...","0.17,0.17,0.27,0.12,0.01","0.09,0.21,0.54,0.14,0.01",107356,2,644,POINT (236236.036 911542.538)
7807,5975,MELROSE,Wyoming Ave opp Cleveland St,"25017337102,25017336402,25017336401,2501733630...","0.05,0.93,0.20,0.00,0.08","0.15,0.52,0.24,0.01,0.08",82977,2,1204,POINT (234977.387 911544.999)
7808,15976,MELROSE,Wyoming Ave @ Cleveland St,"25017337102,25017336402,25017336401,2501733630...","0.05,0.93,0.20,0.00,0.08","0.16,0.52,0.24,0.01,0.08",83146,2,1204,POINT (234971.098 911547.184)
7809,5912,MELROSE,Grove St @ Faxon St,"25017336402,25017336401,25017336300,2501733620...","0.05,0.10,0.33,0.14,0.00","0.03,0.12,0.67,0.17,0.00",114942,2,508,POINT (236456.969 911577.351)

**Find line_and_stop.csv here:**  
https://mbta-massdot.opendata.arcgis.com/datasets/mbta-bus-ridership-by-trip-season-route-line-and-stop

In [35]:
# line_and_stop.csv is not a part of the repo because the file is too large to push
ridership_df = pd.read_csv('./data/line_and_stop.csv', low_memory=False)
ridership_df

,FID,season,route_id,route_variant,direction_id,trip_start_time,day_type_id,day_type_name,stop_name,stop_id,stop_sequence,boardings,alightings,load_,sample_size
0,1,Fall 2016,1,1-_-0,0,04:37:00,day_type_01,weekday,WASHINGTON ST OPP RUGGLES ST,1,2,0.4,0.3,7.8,13
1,2,Fall 2016,1,1-_-0,0,04:37:00,day_type_01,weekday,ALBANY ST OPP RANDALL ST,10003,5,0.1,0.0,9.4,13
2,3,Fall 2016,1,1-_-0,0,04:37:00,day_type_01,weekday,MASSACHUSETTS AVE @ SIDNEY ST,101,19,0.0,0.4,10.4,13
3,4,Fall 2016,1,1-_-0,0,04:37:00,day_type_01,weekday,MASSACHUSETTS AVE @ PROSPECT,102,20,0.6,2.5,8.5,13
4,5,Fall 2016,1,1-_-0,0,04:37:00,day_type_01,weekday,MASSACHUSETTS AVE @ BIGELOW S,104,21,0.1,0.2,8.4,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3451727,3451728,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,HIGHLAND AVE @ PINE ST,5062,9,0.0,0.0,0.0,5
3451728,3451729,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,CLIFTON ST @ DEXTER ST,5066,15,0.0,0.0,0.0,5
3451729,3451730,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,CLIFTON ST @ CEDAR ST,5067,16,0.0,0.0,0.0,5
3451730,3451731,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,SUMMER ST @ CLIFTON ST,5068,17,0.0,0.0,0.0,5
3451731,3451732,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,SUMMER ST @ CHESTNUT ST,5069,18,0.0,0.0,0.0,5

In [36]:
stops_df['route_ids'] = ""
for idx, row in stops_df.iterrows():
    stop_id = row['STOP_ID']
    route_ids = list(set(ridership_df[ridership_df.stop_id == int(stop_id)].route_id.tolist()))
    stops_df.at[idx, 'route_ids'] = ','.join(route_ids)
stops_df.to_file('./output/stops/stops.shp', driver='ESRI Shapefile')
stops_df.to_csv('./output/stops.csv', index=False)
stops_df
# when saved to a shapefile/csv, column names are trimmed to 10 characters

,STOP_ID,TOWN,STOP_NAME,impacted_g,proportion,proporti_1,income,income_lev,impacted_p,geometry,route_ids
0,3077,BOSTON,Gallivan Blvd @ opp Marsh St,"25021416400,25025100800,25025100601,2502510070...","0.01,0.17,0.13,0.99,0.29","0.03,0.15,0.04,0.59,0.13",88129,2,1046,POINT (237120.669 892643.408),201
1,841,BOSTON,Lagrange St @ Virgil Rd,"25025130402,25025130300,25025130200,2502513010...","0.08,0.26,0.63,0.13,0.02","0.09,0.19,0.42,0.28,0.02",105528,2,632,POINT (227915.195 892644.017),"37,38"
2,446,BOSTON,Norfolk St @ Nelson St,"25025100500,25025100400,25025100300,2502510110...","0.17,0.18,1.00,0.41,0.06,0.24,0.02,1.00,0.37","0.07,0.06,0.24,0.11,0.01,0.14,0.01,0.17,0.19",44993,2,3056,POINT (234385.661 892644.944),26
3,847,BOSTON,Lagrange St opp Virgil St,"25025130402,25025130300,25025130200,2502513010...","0.08,0.26,0.63,0.13,0.02","0.09,0.19,0.42,0.29,0.02",105521,2,632,POINT (227912.601 892650.156),"37,38"
4,3079,BOSTON,Adams St @ Minot St,"25021416400,25025100800,25025100601,2502510050...","0.00,0.51,0.32,0.01,0.03,0.67,0.06","0.01,0.44,0.09,0.00,0.01,0.40,0.03",86335,2,1647,POINT (236644.812 892651.990),"19,201"
...,...,...,...,...,...,...,...,...,...,...,...
7805,9097,MELROSE,Grove St @ Lebanon St,"25017336402,25017336401,25017336300,2501733620...","0.17,0.18,0.26,0.11,0.01","0.10,0.22,0.53,0.14,0.01",106570,2,639,POINT (236229.381 911541.866),131
7806,5911,MELROSE,Grove St @ Lebanon St,"25017336402,25017336401,25017336300,2501733620...","0.17,0.17,0.27,0.12,0.01","0.09,0.21,0.54,0.14,0.01",107356,2,644,POINT (236236.036 911542.538),131
7807,5975,MELROSE,Wyoming Ave opp Cleveland St,"25017337102,25017336402,25017336401,2501733630...","0.05,0.93,0.20,0.00,0.08","0.15,0.52,0.24,0.01,0.08",82977,2,1204,POINT (234977.387 911544.999),132
7808,15976,MELROSE,Wyoming Ave @ Cleveland St,"25017337102,25017336402,25017336401,2501733630...","0.05,0.93,0.20,0.00,0.08","0.16,0.52,0.24,0.01,0.08",83146,2,1204,POINT (234971.098 911547.184),132
7809,5912,MELROSE,Grove St @ Faxon St,"25017336402,25017336401,25017336300,2501733620...","0.05,0.10,0.33,0.14,0.00","0.03,0.12,0.67,0.17,0.00",114942,2,508,POINT (236456.969 911577.351),131

# Most Impacted Routes and Districts Calculations

In [2]:
import pandas as pd
import geopandas as gpd
from collections import Counter

### Route Calculations

In [3]:
stops_df = pd.read_csv('./output/stops.csv')
stops_df

,STOP_ID,TOWN,STOP_NAME,impacted_g,proportion,proporti_1,income,income_lev,impacted_p,geometry,route_ids
0,3077,BOSTON,Gallivan Blvd @ opp Marsh St,"25021416400,25025100800,25025100601,2502510070...","0.01,0.17,0.13,0.99,0.29","0.03,0.15,0.04,0.59,0.13",88129,2,1046,POINT (237120.6688999981 892643.4076999985),201
1,841,BOSTON,Lagrange St @ Virgil Rd,"25025130402,25025130300,25025130200,2502513010...","0.08,0.26,0.63,0.13,0.02","0.09,0.19,0.42,0.28,0.02",105528,2,632,POINT (227915.1953999996 892644.0174999982),"37,38"
2,446,BOSTON,Norfolk St @ Nelson St,"25025100500,25025100400,25025100300,2502510110...","0.17,0.18,1.00,0.41,0.06,0.24,0.02,1.00,0.37","0.07,0.06,0.24,0.11,0.01,0.14,0.01,0.17,0.19",44993,2,3056,POINT (234385.6608999968 892644.9441),26
3,847,BOSTON,Lagrange St opp Virgil St,"25025130402,25025130300,25025130200,2502513010...","0.08,0.26,0.63,0.13,0.02","0.09,0.19,0.42,0.29,0.02",105521,2,632,POINT (227912.6011999995 892650.1563000008),"37,38"
4,3079,BOSTON,Adams St @ Minot St,"25021416400,25025100800,25025100601,2502510050...","0.00,0.51,0.32,0.01,0.03,0.67,0.06","0.01,0.44,0.09,0.00,0.01,0.40,0.03",86335,2,1647,POINT (236644.8123999983 892651.9899999984),"19,201"
...,...,...,...,...,...,...,...,...,...,...,...
7805,9097,MELROSE,Grove St @ Lebanon St,"25017336402,25017336401,25017336300,2501733620...","0.17,0.18,0.26,0.11,0.01","0.10,0.22,0.53,0.14,0.01",106570,2,639,POINT (236229.3808000013 911541.8663000017),131
7806,5911,MELROSE,Grove St @ Lebanon St,"25017336402,25017336401,25017336300,2501733620...","0.17,0.17,0.27,0.12,0.01","0.09,0.21,0.54,0.14,0.01",107356,2,644,POINT (236236.0358000025 911542.5381000005),131
7807,5975,MELROSE,Wyoming Ave opp Cleveland St,"25017337102,25017336402,25017336401,2501733630...","0.05,0.93,0.20,0.00,0.08","0.15,0.52,0.24,0.01,0.08",82977,2,1204,POINT (234977.3874000013 911544.9987000003),132
7808,15976,MELROSE,Wyoming Ave @ Cleveland St,"25017337102,25017336402,25017336401,2501733630...","0.05,0.93,0.20,0.00,0.08","0.16,0.52,0.24,0.01,0.08",83146,2,1204,POINT (234971.0983000025 911547.1840000004),132
7809,5912,MELROSE,Grove St @ Faxon St,"25017336402,25017336401,25017336300,2501733620...","0.05,0.10,0.33,0.14,0.00","0.03,0.12,0.67,0.17,0.00",114942,2,508,POINT (236456.9689000025 911577.3509999998),131

In [4]:
def get_income_level(gdf, level):
    # takes as inputs a geodataframe and an int to specify the income level, returns a geodataframe with
    # stops of that given income level
    return gdf[gdf['income_lev'] == level]

# returns a list of districts, including repeats, for the given dataframe
def get_districts_list(df): 
    all_districts = []
    for row in df.itertuples():
        all_districts.append(row.rep_dist)
    return all_districts

# returns a list of route_ids, including repeats, for the given dataframe
def get_route_ids_list(df): 
    all_route_ids = []
    for row in df.itertuples():
        row_route_ids = row.route_ids
        if pd.notna(row_route_ids):
            route_id_list = row_route_ids.split(',')
            for route_id in route_id_list:
                all_route_ids.append(route_id)
    return all_route_ids

# creates a dataframe containing each value in the dataframe and the number of times it appears
def get_counts(full_list):
    occurences = Counter(full_list)
    occurences_df = pd.DataFrame.from_dict(occurences, orient='index').reset_index()
    return occurences_df

In [6]:
level_0 = get_income_level(stops_df,0)
level_0

,STOP_ID,TOWN,STOP_NAME,impacted_g,proportion,proporti_1,income,income_lev,impacted_p,geometry,route_ids
93,6521,BOSTON,Turtle Pond Pkwy @ Dedham Pkwy,"25021402102,25025140102,25025140107,2502513040...","0.03,0.14,0.15,0.32,0.42","0.03,0.15,0.05,0.16,0.60",26183,0,382,POINT (229694.1733999997 889829.2793000005),"33,40"
94,8950,BOSTON,Dedham Pkwy @ Turtle Pond Pkwy,"25021402102,25025140102,25025140107,2502513040...","0.03,0.14,0.14,0.33,0.42","0.03,0.15,0.04,0.17,0.60",25955,0,386,POINT (229682.4695999995 889838.0194999985),33
520,2924,BOSTON,Columbia Rd @ Seaver St,"25025980300,25025092400,25025091900,2502509180...","0.20,0.22,0.68,0.15,0.30,1.00,0.98,0.61,0.08","0.21,0.07,0.16,0.03,0.06,0.13,0.21,0.11,0.02",27210,0,3277,POINT (234449.3772 894944.3095000014),16
524,2920,BOSTON,Columbia Rd @ Seaver St,"25025980300,25025092400,25025091900,2502509180...","0.21,0.22,0.64,0.14,0.30,1.00,0.97,0.63,0.08","0.22,0.06,0.15,0.03,0.06,0.13,0.21,0.11,0.02",26650,0,3259,POINT (234431.9355999976 894949.9547999986),16
539,10522,BOSTON,Circuit Dr @ Glen Ln,"25025980300,25025120201,25025120301,2502509010...","0.76,0.09,0.23,0.00,0.49,0.09","0.78,0.03,0.07,0.00,0.09,0.02",11199,0,1263,POINT (233416.6336999983 895045.7870999984),"16,36,34,32"
...,...,...,...,...,...,...,...,...,...,...,...
5887,16653,LYNN,Market St @ Commuter Rail,"25009207200,25009207000,25009206900,2500920680...","0.04,0.85,0.73,0.68,0.12,0.37,0.56","0.05,0.31,0.19,0.16,0.03,0.09,0.09",30312,0,1809,POINT (245458.5842999965 912535.9569000006),"455,459,441,435,442,436,426"
5893,6774,LYNN,Market St @ Munroe St,"25009207200,25009207000,25009206900,2500920680...","0.04,0.87,0.68,0.68,0.10,0.43,0.64","0.05,0.32,0.18,0.16,0.03,0.10,0.10",30601,0,1856,POINT (245420.5715999976 912565.3986999989),"436,429,435"
7215,4730,REVERE,Burbank Hwy @ Suffolk Downs,"25025051101,25025170601,25025160502,2502505100...","0.30,0.07,0.18,0.19,0.59,0.01","0.17,0.05,0.10,0.10,0.37,0.00",29998,0,1163,POINT (240389.8844999969 905166.3053000011),"459,450,449,448"
7376,4731,REVERE,Opp 40 Burbank Hwy,"25025051101,25025170601,25025160502,2502505100...","0.22,0.15,0.16,0.13,0.67,0.10","0.12,0.09,0.09,0.06,0.42,0.03",27572,0,1004,POINT (240473.7076999992 905308.9039000012),"459,450,449,448"
7379,4719,REVERE,40 Burbank Hwy,"25025051101,25025170601,25025160502,2502505100...","0.20,0.16,0.17,0.12,0.67,0.12","0.11,0.10,0.10,0.06,0.42,0.03",27965,0,974,POINT (240474.0666999966 905335.310899999),"459,450"

In [7]:
level_0_ids_list = get_route_ids_list(level_0)

In [8]:
level_0_df = get_counts(level_0_ids_list)
level_0_df = level_0_df.rename(columns={'index':'route_id', 0:'level_0'})
level_0_df

   route_id  level_0
0        33        2
1        40        3
2        16       15
3        36       22
4        34       22
5        32       22
6        38       10
7        23       27
8        19       35
9        22       34
10       29       25
11       10       14
12       28       36
13       14       27
14       45       34
15       66       15
16       43        5
17       47       21
18        8       21
19       57        3
20      747        4
21      708        7
22        9       10
23       21        3
24       31        3
25      216        7
26      214        7
27       44       27
28       15       14
29      170        5
30        1        7
31      171        4
32      751        3
33      749        3
34       41        7
35       42        1
36       39        5
37      742        3
38      120        3
39      442        4
40      439        3
41      441        4
42      455        2
43      459        5
44      435        3
45      449        3
46      456        1
47      448        3
48      429        2
49      436        3
50      426        2
51      450        3

In [10]:
# Repeating for income level 1
level_1 = get_income_level(stops_df,1)
level_1_ids_list = get_route_ids_list(level_1)
level_1_df = get_counts(level_1_ids_list)
level_1_df = level_1_df.rename(columns={'index':'route_id', 0:'level_1'})

In [11]:
# combining findings for level 1 and level 0
both_levels_df = level_0_df.merge(level_1_df, how='outer', on='route_id')
both_levels_df = both_levels_df.fillna(0)
both_levels_df['total'] = both_levels_df.apply(lambda row: row.level_0 + row.level_1, axis=1) 
cols = ['level_0','level_1','total']
both_levels_df[cols] = both_levels_df[cols].astype(int)
both_levels_df

   route_id  level_0  level_1  total
0        33        2        2      4
1        40        3        4      7
2        16       15       15     30
3        36       22        9     31
4        34       22        9     31
..      ...      ...      ...    ...
56       55        0        9      9
57        4        0        2      2
58      712        0        1      1
59      713        0        1      1
60      119        0       14     14

[61 rows x 4 columns]

Getting route-level population numbers by summing the populations of stops along a route

In [12]:
# calculates the impacted_pop for each route depending on the stops it passes through
def get_pop():
    for row in stops_df.itertuples():
        row_route_ids = row.route_ids
        if pd.notna(row_route_ids):
            route_id_list = row_route_ids.split(',')
            for route in route_id_list:
                both_levels_df.loc[both_levels_df.route_id == route, "impacted_p"] += row.impacted_p
    return

In [13]:
both_levels_df['impacted_p'] = 0
get_pop()
both_levels_df

   route_id  level_0  level_1  total  impacted_p
0        33        2        2      4      119994
1        40        3        4      7      105476
2        16       15       15     30      320757
3        36       22        9     31      332717
4        34       22        9     31      326936
..      ...      ...      ...    ...         ...
56       55        0        9      9      315150
57        4        0        2      2      217307
58      712        0        1      1       52472
59      713        0        1      1       52689
60      119        0       14     14       74367

[61 rows x 5 columns]

In [49]:
both_levels_df.to_csv("./output/weighted_route_info_FINAL.csv", index=False)

In [50]:
sorted_df = both_levels_df.sort_values(by='total', ascending=False)
sorted_df

   route_id  level_0  level_1  total  impacted_p
8        19       35       32     67      557989
14       45       34       32     66      286144
12       28       36       22     58      262509
9        22       34       21     55      402141
13       14       27       23     50      306267
..      ...      ...      ...    ...         ...
53       65        0        4      4      359670
0        33        2        2      4      119994
57        4        0        2      2      217307
58      712        0        1      1       52472
59      713        0        1      1       52689

[61 rows x 5 columns]

### District calculations

In [15]:
rep_df = pd.read_csv('./output/all_rep_data_FINAL.csv')
rep_df.rename(columns = {'Income Lev':'income_lev', 'Stop Id':'stop_id','Dist Code':'dist_code','Route Ids':'route_ids','Rep Dist':'rep_dist'}, inplace = True)
rep_df
# Null values are districts that do not contain any bus stops

,dist_code,Impacted G,Proporti 1,Proportion,REP,rep_dist,Rep First,Rep Last,Rep Party,route_ids,...,Town,URL,Geometry,Geometry (HOUSE2012 POLY.shp),Impacted P,Income,income_lev,Repdistnum,Shape Area,Shape Len
0,SUFF13,"25021416400,25025100800,25025100601,2502510070...","0.03,0.15,0.04,0.59,0.13","0.01,0.17,0.13,0.99,0.29",Daniel J. Hunt (D),13th Suffolk,Daniel J.,Hunt,(D),201,...,BOSTON,http://malegislature.gov/Legislators/Profile/DJH1,Point,MultiPolygon,1046.0,88129.0,2.0,136.0,8.642596e+06,34955.033552
1,SUFF10,"25025130402,25025130300,25025130200,2502513010...","0.09,0.19,0.42,0.28,0.02","0.08,0.26,0.63,0.13,0.02",Edward F. Coppinger (D),10th Suffolk,Edward F.,Coppinger,(D),"37,38",...,BOSTON,http://malegislature.gov/Legislators/Profile/E_C1,Point,Polygon,632.0,105528.0,2.0,133.0,2.322508e+07,30760.399420
2,SUFF12,"25025100500,25025100400,25025100300,2502510110...","0.07,0.06,0.24,0.11,0.01,0.14,0.01,0.17,0.19","0.17,0.18,1.00,0.41,0.06,0.24,0.02,1.00,0.37",Daniel Cullinane (D),12th Suffolk,Daniel,Cullinane,(D),26,...,BOSTON,http://malegislature.gov/Legislators/Profile/D_C1,Point,Polygon,3056.0,44993.0,2.0,135.0,1.021590e+07,23539.420741
3,SUFF10,"25025130402,25025130300,25025130200,2502513010...","0.09,0.19,0.42,0.29,0.02","0.08,0.26,0.63,0.13,0.02",Edward F. Coppinger (D),10th Suffolk,Edward F.,Coppinger,(D),"37,38",...,BOSTON,http://malegislature.gov/Legislators/Profile/E_C1,Point,Polygon,632.0,105521.0,2.0,133.0,2.322508e+07,30760.399420
4,SUFF12,"25021416400,25025100800,25025100601,2502510050...","0.01,0.44,0.09,0.00,0.01,0.40,0.03","0.00,0.51,0.32,0.01,0.03,0.67,0.06",Daniel Cullinane (D),12th Suffolk,Daniel,Cullinane,(D),"19,201",...,BOSTON,http://malegislature.gov/Legislators/Profile/D_C1,Point,Polygon,1647.0,86335.0,2.0,135.0,1.021590e+07,23539.420741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7910,WORC18,NaN,NaN,NaN,Joseph D. McKenna (R),18th Worcester,Joseph D.,McKenna,(R),NaN,...,NaN,http://malegislature.gov/Legislators/Profile/JDM1,NaN,Polygon,NaN,NaN,NaN,160.0,2.529885e+08,87122.316230
7911,PLYM12,NaN,NaN,NaN,Kathleen P. LaNatra (D),12th Plymouth,Kathleen P.,LaNatra,(D),NaN,...,NaN,http://malegislature.gov/Legislators/Profile/KPL1,NaN,MultiPolygon,NaN,NaN,NaN,123.0,2.109878e+08,122876.737976
7912,BRIST12,NaN,NaN,NaN,Norman J. Orrall (R),12th Bristol,Norman J.,Orrall,(R),NaN,...,NaN,http://malegislature.gov/Legislators/Profile/NJO1,NaN,Polygon,NaN,NaN,NaN,22.0,2.170317e+08,120696.616783
7913,ESS02,NaN,NaN,NaN,Leonard Mirra (R),2nd Essex,Leonard,Mirra,(R),NaN,...,NaN,http://malegislature.gov/Legislators/Profile/L_M1,NaN,MultiPolygon,NaN,NaN,NaN,26.0,2.410055e+08,137341.402345
7914,WORC16,NaN,NaN,NaN,Daniel M. Donahue (D),16th Worcester,Daniel M.,Donahue,(D),NaN,...,NaN,http://malegislature.gov/Legislators/Profile/DMD1,NaN,Polygon,NaN,NaN,NaN,158.0,1.927190e+07,22236.335828

In [19]:
level_0 = get_income_level(rep_df, 0)
level_0_dists = get_districts_list(level_0)
level_0_df = get_counts(level_0_dists)
level_0_df = level_0_df.rename(columns={'index':'district', 0:'level_0'})

level_1 = get_income_level(rep_df, 1)
level_1_dists = get_districts_list(level_1)
level_1_df = get_counts(level_1_dists)
level_1_df = level_1_df.rename(columns={'index':'district', 0:'level_1'})

In [20]:
both_levels_df = level_0_df.merge(level_1_df, how='outer', on='district')
both_levels_df = both_levels_df.fillna(0)
both_levels_df['total'] = both_levels_df.apply(lambda row: row.level_0 + row.level_1, axis=1) 
cols = ['level_0','level_1','total']
both_levels_df[cols] = both_levels_df[cols].astype(int)

In [21]:
dist_df = pd.read_csv('./output/district_info.csv')

In [22]:
def get_rep(dist_info, impacted_dists):
    reps = []
    for row in impacted_dists.itertuples():
        rep = dist_info.loc[dist_info['Rep Dist'] == row.district, 'REP'].values[0]
        reps.append(rep)
    return reps

In [23]:
both_levels_df['rep'] = ''
reps = get_rep(dist_df, both_levels_df)
both_levels_df['rep'] = reps

both_levels_df.sort_values('total', ascending=False, inplace=True)
both_levels_df

        district  level_0  level_1  total                     rep
3    7th Suffolk       52       57    109        Chynah Tyler (D)
2   11th Suffolk       42       30     72  Elizabeth A. Malia (D)
10    11th Essex        5       43     48     Peter L. Capano (D)
0    6th Suffolk       20       20     40   Russell E. Holmes (D)
9    5th Suffolk        3       35     38         Liz Miranda (D)
5    9th Suffolk        9       17     26        Jon Santiago (D)
13    10th Essex        0       18     18    Daniel H. Cahill (D)
11   2nd Norfolk        7        9     16         Tackey Chan (D)
15  19th Suffolk        0       16     16     Robert A. DeLeo (D)
4    1st Suffolk        3       10     13    Adrian C. Madaro (D)
8    4th Suffolk        5        6     11         David Biele (D)
12  15th Suffolk        0       11     11       Nika Elugardo (D)
1   14th Suffolk        4        5      9   Angelo M. Scaccia (D)
14     8th Essex        0        8      8     Lori A. Ehrlich (D)
6   16th Suffolk        3        2      5     RoseLee Vincent (D)
7   13th Suffolk        1        1      2      Daniel J. Hunt (D)

In [24]:
both_levels_df.to_csv("./output/impacted_districts.csv")

### Getting impacted towns

In [25]:
town_count = stops_df.TOWN.value_counts()
town_count_df = town_count.rename_axis('town').reset_index(name='counts')
town_count_df

          town  counts
0       BOSTON    1981
1       QUINCY     493
2         LYNN     416
3       NEWTON     306
4      WALTHAM     275
5    CAMBRIDGE     266
6       MALDEN     265
7   SOMERVILLE     259
8      MEDFORD     239
9     WEYMOUTH     190
10      REVERE     177
11      MILTON     170
12   BRAINTREE     167
13      SAUGUS     163
14   ARLINGTON     162
15       SALEM     138
16   LEXINGTON     133
17      WOBURN     131
18     MELROSE     131
19    RANDOLPH     128
20     EVERETT     114
21   BROOKLINE     107
22     CHELSEA     103
23  SWAMPSCOTT      93
24    WINTHROP      91
25   WATERTOWN      89
26     BEVERLY      80
27     BELMONT      78
28     PEABODY      73
29   WAKEFIELD      71
30  BURLINGTON      60
31     HINGHAM      60
32     NORWOOD      59
33     BEDFORD      56
34    HOLBROOK      56
35  WINCHESTER      52
36  MARBLEHEAD      51
37     WALPOLE      50
38        HULL      40
39      NAHANT      39
40     DANVERS      38
41     NEEDHAM      33
42      DEDHAM      31
43      CANTON      25
44    STONEHAM      23
45     READING      20
46    WESTWOOD      16
47        AVON       5
48     LINCOLN       3
49    BROCKTON       2
50   BILLERICA       1
51  WILMINGTON       1

In [26]:
# returns a list of towns, including repeats, for the given dataframe
def get_town(dataframe): 
    all_towns = []
    for row in dataframe.itertuples():
        all_towns.append(row.Town)
    return all_towns

In [27]:
level_0_towns = get_town(level_0)
level_0_town_df = get_counts(level_0_towns)
level_0_town_df = level_0_town_df.rename(columns={'index':'town', 0:'level_0'})

level_1_towns = get_town(level_1)
level_1_town_df = get_counts(level_1_towns)
level_1_town_df = level_1_town_df.rename(columns={'index':'town', 0:'level_1'})

In [28]:
all_towns_df = level_0_town_df.merge(level_1_town_df, how='outer', on='town')
all_towns_df = all_towns_df.fillna(0)
all_towns_df['total'] = all_towns_df.apply(lambda row: row.level_0 + row.level_1, axis=1) 
cols = ['level_0','level_1','total']
all_towns_df[cols] = all_towns_df[cols].astype(int)
all_towns_df

       town  level_0  level_1  total
0    BOSTON      139      192    331
1    REVERE        3       16     19
2      LYNN        5       67     72
3    QUINCY        7        9     16
4  WINTHROP        0        2      2
5    NAHANT        0        2      2

In [29]:
def town_percentage(town_totals, town_low_income):
    percent_dict = {}
    for town in town_low_income.town:
        low_income_stops = town_low_income.loc[town_low_income['town'] == town, 'total'].values[0] # number of low-income stops
        all_stops = town_totals.loc[town_totals['town'] == town, 'counts'].values[0] # number of stops in total
        percent_low_income = low_income_stops/all_stops*100 # percentage of stops that are low-income for that town
        percent_dict[town] = percent_low_income
    return percent_dict

In [30]:
town_percents = town_percentage(town_count_df, all_towns_df)
town_percents

{'BOSTON': 16.708732963149924,
 'REVERE': 10.734463276836157,
 'LYNN': 17.307692307692307,
 'QUINCY': 3.2454361054766734,
 'WINTHROP': 2.197802197802198,
 'NAHANT': 5.128205128205128}

## Investigating Stops without Routes
Due to insufficient data, our mapping of stops to routes is imperfect; we could not map all stops to the route they lie on.

In [32]:
import pandas as pd
import geopandas as gpd

stops_df = gpd.read_file('./output/stops/stops.shp')

In [36]:
stops_df[stops_df['route_ids'].isnull()]

,STOP_ID,TOWN,STOP_NAME,impacted_g,proportion,proporti_1,income,income_lev,impacted_p,route_ids,geometry
42,111720,MILTON,Blue Hill Ave - Valentine Rd to Tucker St (FLAG),"25021416300,25021416200,25025140400,25025101001","0.02,0.52,0.08,0.00","0.03,0.89,0.07,0.00",105228,2,489,None,POINT (233094.181 889617.295)
48,111823,HINGHAM,Rockland St from Kilby St to Nantasket Ave (FLAG),"25021423100,25023500103,25023501101","0.01,0.12,0.14","0.19,0.12,0.56",129691,3,59,None,POINT (253479.787 889637.961)
53,111747,MILTON,Blue Hill Ave - Tucker St to Valentine Rd (FLAG),"25021416300,25021416200,25025140400,25025101001","0.03,0.51,0.09,0.01","0.04,0.87,0.08,0.00",105132,2,514,None,POINT (233106.352 889648.720)
55,111239,HINGHAM,Rockland St from Nantasket Ave to Kilby St (FLAG),"25021423100,25023500103,25023501101","0.02,0.13,0.14","0.20,0.12,0.55",129586,3,69,None,POINT (253494.292 889651.270)
216,111667,CANTON,Washington St from Pequit St to Chapman St (FLAG),"25021415200,25021415102,25021415101","0.00,0.01,0.19","0.00,0.03,0.97",128944,3,100,None,POINT (229522.487 879522.154)
...,...,...,...,...,...,...,...,...,...,...,...
6809,112129,MEDFORD,Fulton St from Foss St to Molyneaux Cir (FLAG),"25017341101,25017341102,25017339100,25017340100","0.01,0.03,0.07,0.71","0.01,0.01,0.28,0.70",97950,2,548,None,POINT (233261.149 909588.714)
6839,111997,MEDFORD,Highland Ave @ Doonan St (FLAG),"25017337102,25017341101,25017341102,2501733910...","0.00,0.43,0.18,0.05,0.04,0.45","0.01,0.24,0.08,0.17,0.05,0.44",91129,2,991,None,POINT (233850.000 909817.938)
7594,112046,MEDFORD,Forest St from Webster St to Medford Sq (FLAG),"25017339802,25017339100,25017340100,2501734000...","0.03,0.17,0.00,0.52,0.11,0.02,0.22,0.00","0.03,0.63,0.00,0.13,0.06,0.01,0.13,0.00",87878,2,632,None,POINT (232245.625 907890.583)
7606,112094,MEDFORD,Forest St from Medford Sq to Webster St (FLAG),"25017339802,25017339100,25017340100,2501734000...","0.03,0.17,0.00,0.54,0.12,0.02,0.20","0.03,0.64,0.00,0.13,0.06,0.01,0.12",87924,2,624,None,POINT (232253.017 907910.134)
7690,2739,SOMERVILLE,Broadway @ Powder House Blvd,"25017351000,25017350900,25017350800,2501735050...","0.01,0.44,0.34,0.99,0.97,0.06,0.76,0.50,0.11","0.00,0.09,0.03,0.11,0.29,0.01,0.19,0.20,0.06",116315,2,6820,None,POINT (231511.911 905665.785)

There are 140 stops that were not mapped to routes! This sounds like a lot but...

In [37]:
stops_df[(stops_df['route_ids'].isnull()) & (stops_df['income_lev'] >= 2)]

,STOP_ID,TOWN,STOP_NAME,impacted_g,proportion,proporti_1,income,income_lev,impacted_p,route_ids,geometry
42,111720,MILTON,Blue Hill Ave - Valentine Rd to Tucker St (FLAG),"25021416300,25021416200,25025140400,25025101001","0.02,0.52,0.08,0.00","0.03,0.89,0.07,0.00",105228,2,489,None,POINT (233094.181 889617.295)
48,111823,HINGHAM,Rockland St from Kilby St to Nantasket Ave (FLAG),"25021423100,25023500103,25023501101","0.01,0.12,0.14","0.19,0.12,0.56",129691,3,59,None,POINT (253479.787 889637.961)
53,111747,MILTON,Blue Hill Ave - Tucker St to Valentine Rd (FLAG),"25021416300,25021416200,25025140400,25025101001","0.03,0.51,0.09,0.01","0.04,0.87,0.08,0.00",105132,2,514,None,POINT (233106.352 889648.720)
55,111239,HINGHAM,Rockland St from Nantasket Ave to Kilby St (FLAG),"25021423100,25023500103,25023501101","0.02,0.13,0.14","0.20,0.12,0.55",129586,3,69,None,POINT (253494.292 889651.270)
216,111667,CANTON,Washington St from Pequit St to Chapman St (FLAG),"25021415200,25021415102,25021415101","0.00,0.01,0.19","0.00,0.03,0.97",128944,3,100,None,POINT (229522.487 879522.154)
...,...,...,...,...,...,...,...,...,...,...,...
6809,112129,MEDFORD,Fulton St from Foss St to Molyneaux Cir (FLAG),"25017341101,25017341102,25017339100,25017340100","0.01,0.03,0.07,0.71","0.01,0.01,0.28,0.70",97950,2,548,None,POINT (233261.149 909588.714)
6839,111997,MEDFORD,Highland Ave @ Doonan St (FLAG),"25017337102,25017341101,25017341102,2501733910...","0.00,0.43,0.18,0.05,0.04,0.45","0.01,0.24,0.08,0.17,0.05,0.44",91129,2,991,None,POINT (233850.000 909817.938)
7594,112046,MEDFORD,Forest St from Webster St to Medford Sq (FLAG),"25017339802,25017339100,25017340100,2501734000...","0.03,0.17,0.00,0.52,0.11,0.02,0.22,0.00","0.03,0.63,0.00,0.13,0.06,0.01,0.13,0.00",87878,2,632,None,POINT (232245.625 907890.583)
7606,112094,MEDFORD,Forest St from Medford Sq to Webster St (FLAG),"25017339802,25017339100,25017340100,2501734000...","0.03,0.17,0.00,0.54,0.12,0.02,0.20","0.03,0.64,0.00,0.13,0.06,0.01,0.12",87924,2,624,None,POINT (232253.017 907910.134)
7690,2739,SOMERVILLE,Broadway @ Powder House Blvd,"25017351000,25017350900,25017350800,2501735050...","0.01,0.44,0.34,0.99,0.97,0.06,0.76,0.50,0.11","0.00,0.09,0.03,0.11,0.29,0.01,0.19,0.20,0.06",116315,2,6820,None,POINT (231511.911 905665.785)

In [38]:
stops_df[(stops_df['route_ids'].isnull()) & (stops_df['income_lev'] <= 1)]

,STOP_ID,TOWN,STOP_NAME,impacted_g,proportion,proporti_1,income,income_lev,impacted_p,route_ids,geometry
654,81391,BOSTON,Huntington Ave @ Evans Way,"25025010405,25025010404,25025010408,2502501030...","0.53,0.16,0.85,0.83,0.17,0.96,1.00,0.28,0.36,0...","0.09,0.01,0.02,0.21,0.09,0.12,0.18,0.08,0.10,0...",30733,0,8189,None,POINT (233125.084 898558.753)
3395,109854,WINTHROP,Tafts Ave @ Mugford St,"25025180500,25025980101","0.39,0.07","0.15,0.12",40505,1,209,None,POINT (243699.265 900845.750)

138 of them are not low income (income level 2 or higher), so the impact on our analysis is negligible. The stops themselves have IDs 81391 and 109854. They're in the 7th Suffolk and 19th Suffolk districts, respectively.

In [51]:
districts_stops_df = pd.read_csv('./output/all_rep_data_FINAL.csv')
districts_stops_df[(districts_stops_df['Stop Id'] == 81391) | (districts_stops_df['Stop Id'] == 109854)][['Stop Id','Rep Dist']]

       Stop Id      Rep Dist
3646   81391.0   7th Suffolk
6626  109854.0  19th Suffolk